/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-image:url(https://peakubucket1.s3.us-east-2.amazonaws.com/user/img/form1.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

/*form styles*/
#msform {
	width: 400px;
	height:600px;
	margin-top:50px;
	margin-left:55%;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: rgba(255,255,255,0.94);
	padding:15px;
	border: 0 none;
	border-radius: 7px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input, #msform textarea, #msform select {
    padding: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50
	font-size: 15px;
	background: rgba(255,255,255,0.5);
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: var(--orange);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	text-transform: uppercase;
	margin-bottom: 10px;
    color: black;
    padding:20px;
    text-align:center;
    font-weight:100;
    font-size:20px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
	margin-top: 8px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 10%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 60%;
	height: 2px;
	background: white;
	position: absolute;
	left: -20%;
	top: 9px;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: var(--brochure-blue);
	color: white;
}

label {
    width: auto;
    min-width:170px;
    height: auto;
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--blue);
    border: solid 4px var(--blue);
    margin-bottom: 5px;
    cursor: pointer;
    background:white;
}

.form-inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label:hover {
    background-color: var(--light-grey);
    }

@media (max-width: 880px) and (min-width: 720px){
#msform {
	width: 400px;
	height:600px;
	margin-top:50px;
	margin-left:45%;
	text-align: center;
	position: relative;
    }
}

@media (max-width: 719px)and (min-width:400px){
#msform {
	width: 400px;
	height:auto;
	margin:50px auto;
	text-align: center;
	position: relative;
    }

body {
    background: white;
    background-image: none;
    }

#progressbar li:before {
    background:var(--brochure-green);
    color:white;}

#progressbar li:after {
	content: '';
	width: 60%;
	height: 2px;
	background: var(--brochure-green);
	position: absolute;
	left: -26%;
	top: 9px;
    }
}

@media (max-width: 399px)and (min-width:360px){
#msform {
	width: 350px;
	height:auto;
	margin:50px auto;
	text-align: center;
	position: relative;
    }

body {
    background: white;
    background-image: none;
    }

#progressbar li:before {
    background:var(--brochure-green);
    color:white;}

#progressbar li:after {
	content: '';
	width: 40%;
	height: 2px;
	background: var(--brochure-green);
	position: absolute;
	left: -20%;
	top: 9px;
    }
}

@media (max-width: 359px)and (min-width:315px){
#msform {
	width: 300px;
	height:auto;
	margin:50px auto;
	text-align: center;
	position: relative;
    }

body {
    background: white;
    background-image: none;
    }

#progressbar li:before {
    background:var(--brochure-green);
    color:white;}

#progressbar li:after {
	content: '';
	width: 40%;
	height: 2px;
	background: var(--brochure-green);
	position: absolute;
	left: -20%;
	top: 9px;
    }

#msform input, #msform textarea, #msform select {
    padding: 15px;
	font-size: 13px;
    }
}

@media (max-width: 314px){
#msform {
	width: 250px;
	height:auto;
	margin:50px auto;
	text-align: center;
	position: relative;
    }

body {
    background: white;
    background-image: none;
    }

#progressbar li:before {
    background:var(--brochure-green);
    color:white;}

#progressbar li:after {
	content: '';
	width: 40%;
	height: 2px;
	background: var(--brochure-green);
	position: absolute;
	left: -15%;
	top: 9px;
    }

#msform input, #msform textarea, #msform select {
    padding: 15px;
	font-size: 9px;
    }
}

