<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'dashboard/js/test/test.js' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.min.js"></script>


    <title>Edit Test</title>
</head>
<body>

    <form style="margin-top: 40px; margin-left:40px;" action="update/{{ test.id }}" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <h1>Edit Test</h1>

        <br>
        <br>

        <select id="test_type" name="test_type_id" required>
            <option value="{{ test.type.id }}" >{{ test.type.name }}</option>
            {% for type in test_types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
        </select>

        <br>
        <br>

        <input style="width: 250px;" id="name" type="text" name="name"
          placeholder="Add test name in English" value="{{ test.name }}" required>

        <br>
        <br>

        <input style="width: 250px;" id="name_es" type="text" name="name_es"
          placeholder="Add a test name in Spanish" value="{{ test.name_es }}" required>

        <br>
        <br>

        {% if test.feedback_url %}
            <input style="width: 250px;" id="feedback_url" type="text" name="feedback_url"
              placeholder="Add a feedback url" value="{{ test.feedback_url }}">
        {% else %}
            <input style="width: 250px;" id="feedback_url" type="text" name="feedback_url"
              placeholder="Add a feedback url" value="">
        {% endif %}

        <br>
        <br>

        <div>
          <label>cut percentage: </label>
          <input name="cut_score" id="cut_score"
           type="number" value="{{ test.cut_score }}" min="0" max="100" />
        </div>

        <br>

        <p>Excluding?</p>
        {% if test.excluding %}
            <input name="excluding" type="checkbox" checked>
        {% else %}
            <input name="excluding" type="checkbox">
        {% endif %}

        <br>

        <p>Public?</p>
        {% if test.public %}
            <input name="public" type="checkbox" checked>
        {% else %}
            <input name="public" type="checkbox">
        {% endif %}

        <br>
        <br>
        <br>
        <br>

        <div id="question_container">
            {% include "dashboard/test/questions.html" with test=test title="" name="min" %}
        </div>

        <br>
        <br>

        <select id="question_type" name="question_type_id" >
            <option value="" disabled selected>Select Question Type</option>
            {% for type in question_types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
        </select>

        <input type="button" class="btn btn-success" name="add_question" value="Add Question!"
          onclick="addQuestion('{{ question_types_json | escapejs }}');">

        <br>
        <br>

        <input type="submit" class="btn btn-success" name="save" value="Save!">

    </form>

</body>
</html>
