@charset "UTF-8";
@import 'variables.css';
/**************************************************GENERIC*************************************************************/

* {
    margin: 0;
    padding: 0;
    outline:0;
    box-sizing:border-box;
}

a:hover{
    text-decoration:none;
}

/* This code fix the white right space problem (ghost css elements) */
html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.row{
    margin-right:0;
    margin-left:0;
}
/**************************************************FONTS***************************************************************/
@font-face {
    font-family: BigJohn;
    src: url(/static/fonts/BIG_JOHN.otf);
    unicode-range: U+?????;
}

@font-face {
    font-family: NorthernBlock;
    src: url(/static/fonts/TheNorthernBlockLtdLoewHeavy.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskRegular;
    src: url(/static/fonts/BertholdAkzidenzGroteskRegular.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskLight;
    src: url(/static/fonts/BertholdAkzidenzGroteskBELight.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskBold;
    src: url(/static/fonts/BertholdAkzidenzGroteskBold.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskItalic;
    src: url(/static/fonts/BertholdAkzidenzGroteskItalic.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskSuper;
    src: url(/static/fonts/BertholdAkzidenzGroteskSuper.otf);
}

.super{
    font-family: BertholdAkzidenzGroteskSuper;
}

.bold{
    font-family: BertholdAkzidenzGroteskBold;
}

.regular{
    font-family: BertholdAkzidenzGroteskRegular;
}
/**************************************************FOOTER**************************************************************/
footer {
    background-color:#3d4753;
    color:#FFFFFF;
    position:relative;
    z-index:100;
}
.footer-navigation{
    padding-bottom:30px;
}

.navfooter {
	margin-top:55px;
	color:#FFFFFF;
}

.navfooter ul div{
    text-align: center;
}

.social {
	margin-top:50px;
	text-align:center
}

.navfooter ul li {
	padding:0px 10px 0px 10px !important;
	list-style-type: none;
	display:inline-block;
}

.navfooter ul li a{
	color:white;
}

.navfooter ul li a:hover{
	color:#c9d86a;
	text-decoration:none;
}

.navfootercontact {
	margin-top:40px;
	color:#FFFFFF;
	line-height:20px;
	text-align:center;
}

.contact{
    text-align: left;
}

.copyright {
	padding:20px;
	text-align:center;
	font-size:0.7em;
	border-top:groove 2px;
	border-color:rgba(255, 255, 255, .1);
}

.copyright a{
	color:white;
}

.copyright a:hover{
	color:#c9d86a;
	text-decoration:none;
}

#contact-buttons {
	position:fixed;
	margin-top:77vh;
	margin-left:100%;
	left:-100px;
	z-index:100;
	float:right;
}

#contact-buttons img {
	padding-bottom:5px;
}

.logo {
    float:left;
}

.logo img{
    margin-left:30px;
    width:70px;
}

.logo-white{
    text-align:right;
    margin-bottom:20px;
}

.contact-data{
    text-align:left;
}

/******************************************RESPONSIVE FOOTER***********************************************************/
@media screen and (max-width: 768px) {
    .logo-white, .contact-data{

        text-align:center;
    }

    .copyright{
        margin-bottom:30px;
    }
}

/**************************************************FOOTER V2 ASK WHAT IS BETTER***************************************

footer {
    background-color:#3d4753;
    color:#FFFFFF;
}
.footer-navigation{
    padding-bottom:30px;
}

.navfooter {
	margin-top:55px;
	color:#FFFFFF;
}
*/
