html {
    background: url(../img/relaxed_guy.jpg) no-repeat top center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

body{
    background-color:transparent !important;
}

/* Headings */
h1 {
    font-size:2.1em !important;
    font-weight:700 !important;
}	

h3 {
    color:#3d4753 !important;
}	


h6 {
    font-size:1.1em !important;
    font-weight:900 !important;
    color:#3d4753 !important;
}	


/* Blank spaces */

.pull100 {
	margin-top:-100px;
}

.pull50 {
	margin-top:-50px;
}

.push20 {
	margin-top:20px;
}

.push50 {
	margin-top:50px;
}

.push100 {
	margin-top:100px;
}

#logo {
    float: left;
    margin-left:115px;
    margin-top:25px;
    width: 100px;
}

.conectors{
    background: url(../img/conectors.png) no-repeat top center scroll;
    background-size:contain;
    height:300px;
    margin-bottom:100px;
}

.space{
    margin-top:68px;
}

.no-space{
    margin-top: 0px;
}

.blankbanner {
	height:400px;
}

.blankbeneficios {
	height:370px;
}

.blankreviewspic {
	height:150px;
}

.blankabout {
	height:100px;
}

.blankplans {
	height:135px;
}

.blankplanspost {
	height:380px;
}
		
		
/* buttons */
.button-user {
    width:155px;
    background-color: white;
	border-radius:40px;
    border: none;
    color: #3d4753;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
	font-size:14px;
    display: inline-block;
    margin: -15px -15px;
    cursor: pointer;
    z-index:1;
}

		
.button-cta {
    background-color: #ff9933;
	border-radius:40px;
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px 0px;
    cursor: pointer;
	font-weight:600;
}

.button-cta:hover {
    background-color: #f4933b;
	color: white;
	text-decoration: none;
}
	
.button-plans {
    background: linear-gradient(145deg,  #f8f090, #3bab74);
	border-radius:40px;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: -20px;
	font-weight:600;
	box-shadow:rgba(0, 0, 0, .15) 0px 3px 5px;
}

.button-plan-top {
    background: linear-gradient(145deg,  #eab845, #e5813a);
	border-radius:40px;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: -20px;
	font-weight:600;
	box-shadow:rgba(0, 0, 0, .15) 0px 3px 5px;
}

.button-buy {
    background-color: #ff9933;
	box-shadow:rgba(153, 85, 33, 1) 0px 2px 0px;
	border-radius:40px;
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 13px 15px 0px;
    cursor: pointer;
	font-weight:600;
}

.button-buy:hover {
	margin-top:15px;
    background-color: #f4933b;
	box-shadow:rgba(153, 85, 33, 1) 0px -2px 0px;
	color: white;
	text-decoration: none;
}
	
.button-buy-cel {
    background-color: #ff9933;
	box-shadow:rgba(153, 85, 33, 1) 0px 2px 0px;
	border-radius:40px;
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
	font-weight:600;
}

.button-buy-cel:hover {
    background-color: #f4933b;
	color: white;
	text-decoration: none;
}

/* Content */

.beneficios {
    text-align:center;
}

.about {
    color:#FFFFFF;
    text-align:justify;
    margin-top:120px;
}

#valuebanner {
    background-image:url('../img/mockup-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.plancontainer {
    width: 80%;
    height:240px;
    margin-left:10%;
    margin-right:10%;
    border-top:groove 2px ;
    border-bottom:groove 2px ;
    border-color:rgba(255, 255, 255, .5);
    text-align:left;
    font-size:0.75em;
    padding-top:10px;
    padding-bottom:10px;
}

.freebg {
    width:261px;
    height:415px;
    background-color:#f2f2f2;
    border-radius:20px;
    position:absolute;
    text-align:center;
    z-index:99;
}

.basicbg {
    width:261px;
    height:415px;
    background: linear-gradient(145deg,  #f8f090, #3bab74);
    border-radius:20px;
    position:absolute;
    text-align:center;
    z-index:100;
}

.premiumbg {
    width:261px;
    height:415px;
    background: linear-gradient(145deg,  #418277, #468365);
    border-radius:20px;
    position:absolute;
    text-align:center;
    z-index:99;
}

.headhunterbg {
    width:261px;
    height:415px;
    background-color:#f2f2f2;
    border-radius:20px;
    position:absolute;
    text-align:center;
    z-index:97;
}

.price {
    margin-top:20px;
    font-size:1.3em;
    font-weight:700;
    color:#596676;
}

.pricesmall {
    font-size:0.6em;
    padding-bottom:0px;
}

.listno-light {
    color:#bdbcc2;
    background-image:url(../img/no-light.png);
    background-repeat:no-repeat;
    background-position:5px 5px;
}

.listyes-light {
    color:#3d4753;
    background-image:url(../img/yes-light.png);
    background-repeat:no-repeat;
    background-position:5px 5px;
}

.listno-dark {
    color:#6a9371;
    background-image:url(../img/no-dark.png);
    background-repeat:no-repeat;
    background-position:5px 5px;
}

.listyes-dark {
    color:#ffffff;
    background-image:url(../img/yes-dark.png);
    background-repeat:no-repeat;
    background-position:5px 5px;
}

.reviewsingle {
    text-align:center;
    padding-bottom:100px;
    color:#3d4753;
    border-radius:100%;
}

.titlereview {
    font-size:1.5em;
    color:#c9d86a;
    font-weight: 600;
    margin-top:30px;
}

.subtitlereview {
    font-size:1.2em;
    color:#3d4753;
    margin-top:30px;
    margin-top:-20px;
    padding-bottom:20px;
}

.greendash {
    width:23px;
    height:5px;
    background-color:#c9d86a;
    border-radius:10px;
    margin-left:50%;
    left:-11px;
    position:absolute;
}

circle:hover {
    fill:#3d4753;
    cursor:pointer;
}

#clientes {
    padding-bottom:50px;
}



.copyright {
	padding:20px;
	text-align:center;
	font-size:0.7em;
	border-top:groove 2px ;
	border-color:rgba(255, 255, 255, .1);
}

/**********************************************************************************************/

#overlay-signup {
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background:-webkit-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:-o-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:-moz-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
}

#overlay-login {
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background:-webkit-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:-o-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:-moz-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
}

#main-copy{
    margin-top: -170px;
    margin-left: 0px;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}

.exitDingbat {
    color:white;
    float:right;
    font-size:25px;
    cursor:pointer;
    margin-right: -50px;
}

#form-image {
    background: url(../img/form_bg.png) no-repeat top center scroll;
			-webkit-background-size: contain;
			-moz-background-size: contain;
			-o-background-size: contain;
			background-size: 580px 430px;
			background-position: 186% 0%;
			-webkit-transform: rotate(-7deg);
            -moz-transform: rotate(-7deg);
            -ms-transform: rotate(-7deg);
            -o-transform: rotate(-7deg);
            transform: rotate(-7deg);
}

#register-form {
    z-index:1;
    position: relative;
    background:rgba(61,71,83,0.42);
    width:360px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 180px;
    margin-left: 160%;
    font-size:13px;
    border-radius:30px;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
}

#register-form fieldset {
    padding:0 22%;
}

#register-form fieldset span {
    color:white;
}

.form-input {
    margin-top:1px;
    margin-bottom:10px;
    width:200px;
    background: rgba(255,255,255,0.1);
    border-style: groove;
    border-color: rgba(61,71,83,0.2);
    border-width: 0.5px;
    padding: 1px 0;
    color:white;
}

.submit {
    width:142px;
    background-color: #ffffff;
	border-radius:40px;
    border: none;
    color: #3d4753;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
	font-size:11px;
    display: inline-block;
    cursor: pointer;
    margin-left:20px;
    margin-top:0;
    margin-bottom:30px;
}

#login-form {
    z-index:1;
    position: relative;
    background:rgba(61,71,83,0.42);
    width:380px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 180px;
    margin-left: 160%;
    font-size:13px;
    border-radius:30px;
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
}

#login-form fieldset{
    padding:0 22%;
}

#login-form fieldset span{
    color:white;
}


.contact {
    margin: 0 auto;
    float:right;
    width:80%;
    display:block;
    padding-left:20px
}

#main-copy-big-title {
    font-size: 500%;
    font-weight: bold;
}


.woman-working {
    background: url(../img/woman_working.png) no-repeat top center scroll ;
    background-size:contain;
    height:300px;
}

.section1{
    text-align:center;
    color:white;
}

.section2{
    margin-top: 20px;
}

.conectors-row{
    margin-top:0;
}

.working-people{
    background: url(../img/working_people.png) no-repeat top center scroll ;
    background-size:contain;
    height:400px;
}
h2, h3, h4, h5 {
    color:#3d4753;
}

.play-div{
    text-align: center;
}


.video{
    font-family : BertholdAkzidenzGroteskSuper;
    font-size : 20px;
    color : #3B4754;
}

.play-button{
    width: 60px;
    margin-right: 10px;
    margin-left: 200px;
    margin-top: -30px;
}

.first-description{
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
    font-size:19px;
}


.description3{
    padding-left: 60px;
}

h2{
    font-size:60px;
}

h3{
    font-size:45px;
}

h4{
    font-size:40px;
}

h5{
    font-size:20px;
}

/* Portrait phones */
@media  (max-width: 767px)
{
	html {
        background: url(../img/relaxed_guy_cel.jpeg) no-repeat top center scroll ;
        background-size:contain;
    }

    .responsive-no{
        display:none;
    }

    .no-space{
        display:none;
    }

    .first-description{
        text-shadow: 2px 1px 1px rgba(0,0,0,0.7);
        font-size: 17px;
    }

    .description2{
        margin-bottom: 50px;
    }

    h4{
        font-size:22px;
    }

    h5{
        font-size:16px;
    }

    #main-copy {
        margin-left: 0px;
    }

    #main-copy-title {
        margin-top:-220px;
    }

    .button-user{
        margin: 0 -30px;
    }

    .contact {
        margin: 0 auto;
        float:none;
        padding-left: 40px;
    }

    h1 {
        font-size:1.75em !important;
    }

    #logo {
        width:80px;
        margin-left:20px;
        margin-top:-35px;
    }

	#register-button {
		display:none;
	}

	.blankbanner {
	    height:260px;
	}

	#main-copy {
		margin-left:0px;
	    position: relative;
        padding-top: 75%; /* Height proportional to width, so coooool */
	}

	#main-copy br{
		display:none;
	}

    #image4video img{
		margin-left:-65px !important;
		width:120%;
	}

    .about {
		margin-top:20px;
		text-align:center;
		font-size:12px;
		min-width:100%;
	}

    #button-cta-about {
	    display:none;
	}

    .about br {
	    display: none;
	}

    .about h1{
		text-align:center;
		font-size:1.8em !important;
	}

    .blankplans {
	    height:120px;
	}

    .button-plans {
	    font-size:20px;
	}

    .button-plan-top {
	    font-size:20px;
    }

    .plancontainer {
	    font-size:13.5px;
	    height: 235px;
	    width: 86%;
	    margin-left:7%;
	}

    .button-buy {
	    display:none;
	}

    .freebg {
		margin-top:0px;
		margin-left:6.5%;
		width:80%;
		height:400px;
		z-index:99;
	}

    .basicbg {
		margin-top:460px;
		margin-left:6.5%;
		width:80%;
		height:450px;
		z-index:100;
	}

    .premiumbg {
		margin-top:950px;
		margin-left:6.5%;
		width:80%;
		height:430px;
		z-index:99;
	}


    .headhunterbg {
		margin-top:1440px;
		margin-left:6.5%;
		width:80%;
		height:420px;
		z-index:97;
	}

    #pushtitleiphone {
	    margin-top:1500px !important;
	    margin-left:50px;
	}

	.blankreviewspic {
	    height:1550px;
	}

    .reviewcel {
	    width:80%;
	    margin-left:10%;
	}

    #clientes img {
	    width:49%;
	}

    #chat-tablet {
	    display:none;
	}


    #companies-button {
        margin-top: -40px;
    }

	#contact-us-button {
        display: none;
    }

    #main-copy-big-title {
        font-size: 200%;
    }

    .conectors {
        background: url(../img/conectors_cel.png) no-repeat top center scroll;
        background-size:cover;
        min-height:680px;
        margin-bottom:100px;
        margin-top:50px;
    }

    .woman-working{
        display:none;
    }

    .description3{
        padding-left: 20px;
    }

    .play-div{
        text-align: left;
        margin-top: -60px;
    }

    .play-button {
        width: 60px;
        margin-right: 10px;
        margin-left: 0;
        margin-top: 0;
    }

    .h2{
        font-size: 70px;
    }

    .h3{
        font-size: 30px;
    }

    .h5{
        font-size: 20px;
    }

    .last-description{
        margin-bottom:50px;
    }

}


/****************************************Small phones******************************************************************/
@media  (max-width: 320px)
{
	h1 {
	    font-size:1.5em !important;
	}

	h5 {
	    font-size:1em !important;
	}

	.blankbanner {
	    height:210px;
	}

    #image4video img{
        margin-left:-50px !important;
        width:120%;
    }

    .plancontainer {
        font-size:13.5px;
        height: 275px;
        width: 86%;
        margin-left:7%;
    }

    .freebg, .basicbg, .premiumbg, .headhunterbg {
        height:450px;
    }

    .basicbg {
        margin-top:570px;
    }

    .premiumbg {
        margin-top:1060px;
    }

    .headhunterbg {
        margin-top:1590px;
    }

    #pushtitleiphone {
        margin-top:1800px !important;
        margin-left:50px;
    }

    .blankreviewspic {
        height:1840px;
    }


    #main-copy-big-title {
        font-size: 200%;
    }
}


/* iPads y tablets portrait */
@media (min-width: 768px) and (max-width: 991px)
{
	html {
		background: url(../img/relaxed_guy_tablet.jpeg) no-repeat top center scroll;
		background-size:contain;
	}

    .contact {
    margin: 0 auto;
    float:none;
    }

	h6 {
		font-size:1em !important;
	}

    #logo {
	    width:90px;
	}

	.blankbanner {
    	height:590px;
	}

	#valuebanner { background-image:url('../img/mockup-bg-tablet.jpg');
	    background-repeat: no-repeat;
        background-size: contain;
    }

    #image4video img{
		width:150%;
		margin-left:-100px;
	}

    .about {
		margin-top:110px;
		text-align:justify;
		margin-left:-60px;
		font-size:12px;
		min-width:390px;
	}

    .about h1{
		text-align:left;
		font-size:1.8em !important;
		min-width:390px;
		line-height:0px;
	}

    .plancontainer {
	    height:210px;
	}

    .freebg, .basicbg, .premiumbg, .headhunterbg{
		margin-left:2%;
		width:320px;
		height:380px;
		position:relative;
		margin-bottom:50px !important;
	}

    .basicbg {
        margin-top:0px;
	}

    .button-buy-cel {
		display:none;
	}


    #main-copy-big-title {
        font-size: 400%;
    }
}

/* iPads and tablets landscape */
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape)
{
	html {
        background: url(../img/relaxed_guy_tablet.jpeg) no-repeat top center scroll ;
        background-size:contain;
    }

    #logo {
        width:90px;
    }

    .blankbanner {
        height:330px;
    }
}

@media (min-width: 992px) and (max-width: 1200px)
{

	html {
		background: url(../img/relaxed_guy_tablet.jpeg) no-repeat top center scroll ;
		background-size:contain;
	}

    .contact {
        margin: 0 auto;
        float:none;
    }

    #valuebanner { background-image:url('../img/mockup-bg-tablet.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    #image4video img{
		width:140%;
		margin-left:-100px;
	}

    .about {
		margin-top:110px;
		text-align:justify;
		margin-left:-60px;
		font-size:14px;
		min-width:470px;
	}

    .about h1{
        font-size:1.6em !important;
	}

    .freebg, .basicbg, .premiumbg, .headhunterbg{
		margin-left:-11% !important;
	}

    .button-buy-cel {
        display:none;
	}

    .reviewsingle {
        min-width:398px;
        margin-left:-190px;
        margin-right:40px;
	}

    .reviewcel {
        width:60%;
	    margin-left:20%;
	}

    #pushtitleiphone {
        margin-left:65px !important;
	}


    #main-copy {
        margin-left: 0px;
    }

}


@media (min-width: 1201px)
{
	.blankbanner {
	    height:400px;
	}

	#main-copy {
        margin-left: 0px;
    }

    .about {
            margin-top:110px;
            text-align:left;
    }

    .about h1 {
        font-size:1.9em !important;
    }

    .button-buy-cel {
            display:none;
    }

    #whatsapp-tablet {
        display:none;
    }

    #chat-tablet {
        display:none;
    }
}


/* Big Desktop */
@media (min-width: 1600px)
{

	h1 {font-size:2.4em !important;
        font-weight:700 !important;
    }

    h5 {
        font-size:1.3em !important;
        font-weight:700 !important;
    }

	.blankbanner {
	    height:600px;
	}

    .about {
		margin-top:200px;
	}

    .button-buy-cel {
		display:none;
	}

    #whatsapp-tablet {
        display:none;
    }

    #chat-tablet {
        display:none;
    }
}


@media (min-width: 1951px)
{

	h1 {
	    font-size:3.4em !important;
        font-weight:700 !important;
    }

    h5 {
        font-size:1.7em !important;
        font-weight:700 !important;
    }

	.blankbanner {
	    height:700px;
	}

    .about {
		margin-top:200px;
	}

    .button-cta {
      font-size: 28px;
      font-weight:700;

    }

    .about {
        font-size:1.4em;
        margin-top:250px;
    }

	.button-buy-cel {
		display:none;
	}

    #whatsapp-tablet {
        display:none;
    }

    #chat-tablet {
        display:none;
    }
}