body {
    background : #F6F6F6;
}

.topnav {
    overflow: hidden;
    width:100%;
    border-bottom: 2px groove;
    border-color:rgba(255, 255, 255, .5);
    background-color: white;
}
 .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 .topnav a:not(:first-child) {
    float: right;
    margin-top: 20px;
}
 .topnav .icon {
    display: none;
}

.navButton{
    font-size: 15px;
    width:170px;
    color: white;
    border-radius:40px;
    margin-top: 30px;
    padding:5px 16px;
    background:#F47B20;
}

/************************************RESPONSIVE TOPNAV*****************************************************************/

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child), .navButton {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

    .sidenav {
        display:none;
    }

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}