{% extends 'base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block title %}Selección, contratación y reclutamiento de personal{% endblock %}
{% block extra_meta %}
    <meta name="description"  content="Facilitamos el proceso de reclutamiento y selección de personal para Empresas. Publica y comparte vacantes en Colombia, Chile, Ecuador, Perú y Argentina." />
    <meta name="keywords" content="cazatalentos, selección de personal, reclutamiento personal, contratacion personal, selección personal, agencias, reclutamiento, reclutamiento empleados, busqueda personal, preselección personal, headhunter, agencia empleo" />
{% endblock %}
{% block extra_css %}
        <!--Select2-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <!--Slider-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/slick-theme.css' %}"/>
        <!--Our Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/start.css' %}">
{% endblock %}
{% block extra_js %}
        <!--Scroll-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>
        <!--Slider-->
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <!--Select2-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <!--Our js-->
        <script type="text/javascript" src="{% static 'business/js/start.js' %}"></script>
        <!--Set background-->
        <script>
            $(document).ready(function() {
               get_background();
            });
        </script>
        <script>
        function getRequirements(work_area) {
            var url = "/seleccion_de_personal/get_work_area_requirement/";
            var complete_url = url + work_area.value;
            dynamic_select_values(complete_url);
            }
	    </script>
{% endblock %}
{% block content %}
<section class="main-section" id="main-section">
            <div class="gradient1">
                <div class="gradient2">
                    <div class="topnav" id="myTopnav">
                        <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color.png' %}"></a>
                        {% if user.is_authenticated %}
                            <a class="navButton" role="button" href="{% url 'business:logout' %}">CERRAR SESIÓN</a>
                            <a class="navText" href="{% url 'business:business_campaigns' user|get_business_user_id_from_auth_user %}">{% trans 'My campaigns' %}</a>
                        {% else %}
                            <a class="navButton regular" role="button" onclick="off_signup() & on_login()">INICIA SESIÓN</a>
                            {% if not 'seleccion_gratis' in request.path %}
                                <a class="navButton" role="button" onclick="off_login() & on_signup()">CREA TU CUENTA</a>
                            {% endif %}
                        {% endif %}
                        <a class="navText" href="{% url 'business:contact_form' %}">Contáctanos</a>
                        <a class="navText" href="{% url 'beta_invite:index' %}">Personas</a>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                    </div>
                    <div id="overlay-signup">
                        <div class="form-image">
                            <form class="only-register-form" action="{% url 'business:business_signup' %}" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <span class="exitDingbat" onclick="off_signup()">X</span>
                                    <br>
                                    <br>
                                    <span>Nombre</span>
                                    <input class="form-input" name="name" required="required" pattern="[A-Za-z\sáéíóúÑñÜüÁÉÍÓÚ]{1,200}">
                                    <br>
                                    <span>Empresa</span>
                                    <input class="form-input" name="company" required="required">
                                    <br>
                                    <span>Correo</span>
                                    <input class="form-input" type="email" name="username" required="required">
                                    <br>
                                    <span>Teléfono</span>
                                    <input class="form-input" type="tel" name="phone" required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">
                                    <br>
                                    <span>Contraseña</span>
                                    <input class="form-input" type="password" name="password1" required="required">
                                    <br>
                                    <span>Confirmar contraseña</span>
                                    <input class="form-input" type="password" name="password2" required="required">
                                    <br>
                                    <input type="submit" class="submit" value="COMIENZA AHORA">
                                </fieldset>
                                <span class="form-label register">¿Ya eres un usuario registrado? Inicia sesión
                                <a href="javascript:void(0);" onclick="off_signup() & on_login()">
                                <strong>Aquí</strong>
                                </a>
                                </span>
                            </form>
                        </div>
                    </div>
                    <div id="overlay-login">
                        <div class="form-image">
                            <form id="login-form" method="post" action="{% url 'business:home' %}" >
                                {% csrf_token %}
                                <fieldset>
                                    <span class="exitDingbat" onclick="off_login()">X</span>
                                    <br>
                                    <br>
                                    <span>Correo</span>
                                    <input name="username" class="form-input"><br>
                                    <span>Contraseña</span>
                                    <input name="password" class="form-input" type="password"><br>
                                    <span class="form-label"><a href="#">Olvidé mi contraseña</a></span>
                                    <span class="form-label">
                                    <a href="javascript:void(0);" onclick="off_login() & on_signup()">Aun no estoy registrado
                                    </a>
                                    </span>
                                    <br>
                                    <br>
                                    <input type="submit" class="submit" value="ACCEDER">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row first-row">
                            <div class="col-md-4 hidejs hide-responsive">
                                <div class="col-md-4 number-div">
                                    <span class="big-number first">1<span class="first-point">.</span></span>
                                </div>
                                <div class="col-md-8 slider-text">
                                    <span class="super"><br>ESCOGE UN FONDO<br>ACORDE A TU VACANTE</span>
                                </div>
                            </div>
                            <div class="col-md-8 col-xs-12 section1-description hidejs">
                                <span class="description1">
                                PERSONALIZA TU<br>
                                OFERTA EN 3 PASOS<br>
                                </span>
                                <span class="description2">
                                y encuentra los mejores candidatos<br>
                                para tu vacante
                                </span>
                            </div>
                        </div>
                        <div class="row hidejs">
                            <div class="col-lg-12 col-xs-12">
                                <section class="regular slider">
                                    <div class="slide-0 slide-css" data-background="{% static 'business/img/Start_BG-01.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-01.jpg' %}">
                                        <p>Administrativos</p>
                                    </div>
                                    <div class="slide-1 slide-css" data-background="{% static 'business/img/Start_BG-02.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-02.jpg' %}">
                                        <p>Operativos</p>
                                    </div>
                                    <div class="slide-2 slide-css" data-background="{% static 'business/img/Start_BG-03.jpg' %}">
                                        <img class="img-rounded"src="{% static 'business/img/Start-carrusel-03.jpg' %}">
                                        <p>Técnicos</p>
                                    </div>
                                    <div class="slide-3 slide-css" data-background="{% static 'business/img/Start_BG-04.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-04.jpg' %}">
                                        <p>Arquitectos</p>
                                    </div>
                                    <div class="slide-4 slide-css" data-background="{% static 'business/img/Start_BG-05.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-05.jpg' %}">
                                        <p>Diseñadores</p>
                                    </div>
                                    <div class="slide-5 slide-css" data-background="{% static 'business/img/Start_BG-06.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-06.jpg' %}">
                                        <p>Recursos humanos</p>
                                    </div>
                                    <div class="slide-6 slide-css" data-background="{% static 'business/img/Start_BG-07.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-07.jpg' %}">
                                        <p>Ingenieros</p>
                                    </div>
                                </section>
                            </div><!--
                            <div class="col-md-4 center">

                                    <span class="section-indicator">&#x02C5;</span>
                                    <ul>
                                        <li class="active">
                                            <div class="div-indicator"></div>
                                            Personaliza
                                        </li>
                                        <li>
                                            <div class="div-indicator"></div>
                                            Diligencia
                                        </li>
                                        <li>
                                            <div class="div-indicator"></div>
                                            Publica
                                        </li>
                                    </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----------------------------------------------SECTION 2------------------------------------------------------>
        {% if user.is_authenticated %}
            <form id="big-form" class="noBorderForm hidejs" action="{% url 'business:create_post' %}" method="post">
                <input type="hidden" name="business_user_id" value="{{ business_user_id }}" />
        {% else %}
            <form id="big-form" class="noBorderForm hidejs" action="{% url 'business:start_post' %}" method="post">
        {% endif %}
            {% csrf_token %}
            <section class="section-two" id="section-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <br>
                            <div class="row">
                                <div class="col-xs-4"><span class="big-number">2<span class="point">.</span></span></div>
                                <div class="col-xs-8 section2-description super">
                                    <span class="super">REGISTRA LOS DATOS<br>DE TU OFERTA LABORAL</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <fieldset class="section2-content">
                                <br>
                                <h3>Ciudad</h3>
                                <select class="origin-city" name="city_id" required>
                                    <option value="{{ default_city.id }}">{{ default_city.name }}</option>
                                    {% for city in cities %}
                                    <option value="{{ city.id }}">{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                                <h3>Título de la oferta</h3>
                                <h6>Usa un título específico para que los candidatos tengan muy claro a que están aplicando</h6>
                                <input class="origin-vacancy" name="title_es" placeholder="Selecciona un título" required><br>
                                <h3>Cargo solicitado</h3>
                                <h6>Selecciona el área que más se adapte al perfil que estás buscando</h6>
                                <select class="origin-workarea" id="first-choice" name="work_area_id" required="required" onchange="getRequirements(this)">
                                    <option value="" disabled selected>Selecciona un area de trabajo</option>
                                    {% for work_area in work_areas %}
                                    <option value="{{ work_area.id }}">{{ work_area.name }}</option>
                                    {% endfor %}
                                </select>
                                <h3>Requisitos</h3>
                                <h6>Agrega palabras clave que ayuden a distinguir los requerimientos más importantes para la oferta</h6>
                                <select class="origin-requirements js-example-basic-multiple" id="second-choice" name="keyword_ids" multiple="multiple">
                                    <option disabled>Debes seleccionar primero algún cargo o área de trabajo (opción anterior)</option>
                                </select>
                                <br>
                                <h3>Rango salarial</h3>
                                <h6>Asigna el rango salarial que estás dispuesto a ofrecer</h6>
                                <input class="origin-salary" step="100000" type="number" min="0" name="salary_low_range" value="1000000" required>
                                <span class="conjunction">a</span>
                                <input class="origin-salary" step="100000" type="number" min="0" name="salary_high_range" value="2000000" required>

                                <h3>{% trans 'Experience' %}</h3>
                                <h6>{% trans 'What is the minimum number of years of experience you are expecting?' %}</h6>
                                <input class="origin-salary" step="1" type="number" min="0" max="100" name="experience" value="1" required>
                                <h3>{% trans 'Tests' %}</h3>
                                <h6>{% trans 'Add tests you want your candidates to do online, and be filtered by them' %}</h6>
                                <select class="origin-requirements js-example-basic-multiple" name="test_ids" multiple="multiple">
                                    {% for test in tests.all %}
                                        <option value="{{ test.id }}">{{ test.name_es }}</option>
                                    {% endfor %}
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 col-xs-12">
                            <br>
                            <fieldset class="description">
                                <br>
                                <br>
                                <h3>Descripción de tu oferta laboral</h3>
                                <h6>Explica la oferta lo mejor posible, te recomendamos ingresar el detalle de la vacante, requisitos y beneficios.
                                    Trata de usar poco texto y dar mucha información !
                                </h6>
                                <textarea name="description_es" id="field" rows="20" cols="40" autocomplete="off" maxlength="5000" required onkeyup="countChar(this)" class="backend-description"></textarea>
                                <div id="charNum"></div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </section>
            <!----------------------------------------------SECTION 3-------------------------------------------------->
            <br>
            <section class="section-three" id="section-three">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <br>
                            <div class="row">
                                <div class="col-xs-4"><span class="big-number">3<span class="point">.</span></span></div>
                                <div class="col-xs-8 section3-description">
                                    <span class="super">PUBLICA TU<br>OFERTA LABORAL</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gradient1">
                                <div class="gradient2">
                                    <div id="test" class="little-section final-hide">
                                        <input type="hidden" name="image" id="demo" value=""/>
                                        <h6 class="vacancy"></h6>
                                        <br>
                                        <h6 class="city"></h6>
                                    </div>
                                </div>
                            </div>
                            <button id="publish-campaign-button" class="button-cta"  type="submit" onclick="on({{user.is_authenticated|yesno:'true,false'}})">PUBLICAR MI OFERTA</button>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <span class="resume super">RESUMEN<br>DE TU OFERTA</span>
                                <h3>Cargo solicitado</h3>
                                <h6 class="workarea"></h6>
                                <br>
                                <h3>Descripción de tu oferta laboral</h3>
                                <h6 class="vacancy-description"></h6>
                            </fieldset>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                {% if not user.is_authenticated %}
                <div id="overlay">
                    <div class="form-image final">
                        <div id="register-form">
                            <fieldset>
                                <span class="exitDingbat" onclick="off()">X</span>
                                <br>
                                <br>
                                <span>Nombre</span>
                                <input class="form-input" name="name" required="required" pattern="[A-Za-z\sáéíóúÑñÜüÁÉÍÓÚ]{1,200}">
                                <br>
                                <span>Empresa</span>
                                <input class="form-input" name="company">
                                <span>Correo</span>
                                <input class="form-input" type="email" name="username" required="required">
                                <span>Teléfono</span>
                                <input class="form-input" type="tel" name="phone" required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">
                                <br>
                                <span>Contraseña</span>
                                <input class="form-input" type="password" name="password1" required="required">
                                <br>
                                <span>Confirmar contraseña</span>
                                <input class="form-input" type="password" name="password2" required="required">
                                <br>
                            </fieldset>
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
        </form>
        <!--slider-->
        <script type="text/javascript">
            $(".regular").slick({
            	infinite: true,
            	slidesToShow: 4,
            	slidesToScroll: 1,
                focusOnSelect: true,
                         // variableWidth: true (change the slides width)
                responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
              ]
            });

            $('.regular').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
                if ($(window).width() < 768) {
                    var background = $('.slide-' + nextSlide).data('background');
                    $(".little-section").css('background', 'url(' + background + ') 0% 0% / cover')
            	    var background = $('.slide-' + nextSlide).data('background').replace('Start', 'cel-Start');

                }else{
                    var background = $('.slide-' + nextSlide).data('background');
                    $(".little-section").css('background', 'url(' + background + ') 0% 0% / cover')
                }
            	$(".main-section").css('background', 'url(' + background + ') 0% 0% / cover');
            	get_background();
            });

        </script>
        <!--Select2-->
        <script>
            $(document).ready(function() {
                $('.js-example-basic-multiple').select2();
                $('.select2-selection').css({'border-radius':'50px','border':'2px solid #aaa','padding':'6px', 'width':'100%'});
            });
        </script>
        <!--TopNav-->
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
        <!--Section 3 brief-->
        <script>
            $('.origin-city').on('change', function() {
            	var text = $(this).find('option:selected').text();
             	$('.city').text(text);
            });

            $('.origin-vacancy').on('keyup', function() {
            	var text = $(this).val();
             	$('.vacancy').text(text);
            });

            $('.origin-workarea').on('change', function() {
            	var text = $(this).find('option:selected').text();
             	$('.workarea').text(text);
            });
        </script>
        <!--Copy text of trix-->
        <script type="text/javascript">
            document.addEventListener("trix-change", function(event) {
                var element = event.target
                var html = element.value
                $('.vacancy-description').html(html);
                $('.backend-description').text(html);
            });
        </script>
        <!--Form Transition-->
        <script>
            function on(is_user_logged) {
            if (is_user_logged) {

            } else { // enters here upon the second click
                if (document.getElementById("overlay").style.display != "block") {
                    document.getElementById("overlay").style.display = "block";
                    document.getElementById("register-form").style.display = "block";
                    $("html").css("background-size", "cover");
                    $("#option1").css("color", "white");
                    $("#option2").css("color", "white");
                    $("nav").css("margin-bottom", "40px");
                    $("#register-form").animate({"opacity": '1'}, 1500,"swing");
                    $("#publish-campaign-button").animate({marginTop: '60%', marginLeft: '8%'}, 2000, "swing");
                    $("#publish-campaign-button").css('z-index', 9999);
                    $("#publish-campaign-button").css('position', 'absolute');
                    $(".final-hide").animate({"opacity": '0'}, 1500,"swing");
                }
            }}

            function off() {
            $("html").css("background-size", "contain");
            $("#option1").css("color", "#3d4753");
            $("#option2").css("color", "#3d4753");
            $("nav").css("margin-bottom", "");
            $("#register-form").animate({"opacity": '0'}, 1500,"swing");
            $("#publish-campaign-button").animate({marginTop: '0%', marginLeft: '0%'}, 2000, "swing");
            $(".final-hide").animate({"opacity": '1'}, 1500,"swing");
            document.getElementById("overlay").style.display = "none";
            }
        </script>
        <script>
            function on_login() {
            $("#overlay-login").css("display", "block");
            $(".hidejs").css("display", "none");
            $("#login-form").css("display", "block");
            $("html").css("background-size", "cover");
            $("#option1").css("color", "white");
            $("#option2").css("color", "white");
            $("nav").css("margin-bottom", "40px");
            $("#login-form").animate({"marginLeft": '60%'}, 650,"swing");
            $("html").css("overflow", "hidden");
            }

            function off_login() {
            $("#overlay-login").css("display", "none");
            $(".hidejs").css("display", "block");
            $("#login-form").css("display", "none");
            $("html").css("background-size", "contain");
            $("#option1").css("color", "#3d4753");
            $("#option2").css("color", "#3d4753");
            $("nav").css("margin-bottom", "");
            $("#login-form").animate({marginLeft: '160%'});
            $("html").css("overflow-y", "scroll");
            }

            function on_signup() {
            $("#overlay-signup").css("display", "block");
            $(".hidejs").css("display", "none");
            $(".only-register-form").css("display", "block");
            $("html").css("background-size", "cover");
            $("#option1").css("color", "white");
            $("#option2").css("color", "white");
            $("nav").css("margin-bottom", "40px");
            $(".only-register-form").animate({"marginLeft": '60%'}, 650,"swing");
            $(".form-image").animate({"backgroundPosition": '86%'}, 690,"swing");
            $("html").css("overflow", "hidden");
            }

            function off_signup() {
            $("#overlay-signup").css("display", "none");
            $(".hidejs").css("display", "block");
            $(".only-register-form").css("display", "none");
            $("html").css("background-size", "contain");
            $("#option1").css("color", "#3d4753");
            $("#option2").css("color", "#3d4753");
            $("nav").css("margin-bottom", "");
            $(".only-register-form").animate({marginLeft: '160%'});
            $(".form-image").animate({"backgroundPosition": '186%'}, 1,"swing");
            $("html").css("overflow-y", "scroll");
            }
        </script>
        <!-- any incoming error_message will print as an alert-->
        <script>
            {% if error_message %}
                alert("{{ error_message }}");
            {% endif %}
        </script>
        <script>
            function countChar(val) {
            var len = val.value.length;
            if (len >= 5000) {
              val.value = val.value.substring(0, 5000);
              $('#charNum').text('Caracteres restantes: 0');
            } else {
              $('#charNum').text('Caracteres restantes: ' + (5000 - len));
            }
            };
        </script>
{% endblock %}