@charset "UTF-8";

/**************************************************GENERIC*************************************************************/

* { margin: 0; padding: 0; outline:0; box-sizing:border-box;}

html {
	height: 100%;
}

body {
    background : #F6F6F6;;
    height: 100%;
}

.row{
    margin-right:0;
    margin-left:0;
}
/**************************************************FONTS***************************************************************/
@font-face {
    font-family: BigJohn;
    src: url(/static/fonts/BIG_JOHN.otf);
    unicode-range: U+?????;
}

@font-face {
    font-family: NorthernBlock;
    src: url(/static/fonts/TheNorthernBlockLtdLoewHeavy.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskRegular;
    src: url(/static/fonts/BertholdAkzidenzGroteskRegular.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskLight;
    src: url(/static/fonts/BertholdAkzidenzGroteskBELight.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskBold;
    src: url(/static/fonts/BertholdAkzidenzGroteskBold.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskItalic;
    src: url(/static/fonts/BertholdAkzidenzGroteskItalic.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskSuper;
    src: url(/static/fonts/BertholdAkzidenzGroteskSuper.otf);
}

.super{
    font-family: BertholdAkzidenzGroteskSuper;
}

.bold{
    font-family: BertholdAkzidenzGroteskBold;
}

.regular{
    font-family: BertholdAkzidenzGroteskRegular;
}

/***********************************************TOP NAV****************************************************************/

.topnav {
    overflow: hidden;
    width:100%;
    border-bottom: 2px groove;
    border-color:rgba(255, 255, 255, .5);
    background-color: white;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:not(:first-child) {
    float: right;
    margin-top: 20px;
}

.topnav .icon {
    display: none;
}
/*****************************************BACKGROUND*******************************************************************/

.background{
    background: url(../img/Start_BG-01-min.jpg) no-repeat top center scroll ;
    background-size:cover;
}

.gradient1 {
    background:-webkit-linear-gradient(180deg, rgba(246,246,246,0) 30%, rgba(246,246,246,1) 100%);
    background:-o-linear-gradient(180deg, rgba(246,246,246,0) 30%, rgba(246,246,246,1) 100%);
    background:-moz-linear-gradient(180deg, rgba(246,246,246,0) 30%, rgba(246,246,246,1) 100%);
    background:linear-gradient(180deg, rgba(246,246,246,0) 30%, rgba(246,246,246,1) 100%);
    position:relative;
    z-index:1;
    height: 100%;
}

.gradient2{
    background:-webkit-linear-gradient(90deg, rgba(0,184,162,0) 0%, rgba(0,184,162,1) 100%);
    background:-o-linear-gradient(90deg, rgba(0,184,162,0) 0%, rgba(0,184,162,1) 100%);
    background:-moz-linear-gradient(90deg, rgba(0,184,162,0) 0%, rgba(0,184,162,1) 100%);
    background:linear-gradient(90deg, rgba(0,184,162,0) 0%, rgba(0,184,162,1) 100%);
    z-index: 4;
    right: 0px;
    padding: 15px;
    text-align:right;
    margin-top: 6%;
}
/********************************************Accordion******************************************************************/
.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.no-style{
   padding: 0px;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
    text-align:left;
    padding: 30px 0 0 70px;
}

.no-padding{
    padding:0;
}

.test-distinction{
    display:none;
    text-align:left;
}
/**********************************************************************************************************************/
.test-distinction-label{
    padding: 0 25px;
    text-align:left;
}

.listno-light {
    color:#bdbcc2;
    background-image:url(../img/no-light.png);
    background-repeat:no-repeat;
    background-position:5px 5px;
    padding: 0 0 0 25px;
}

.listyes-light {
    color:#3d4753;
    background-image:url(../img/req-yes-light.png);
    background-repeat:no-repeat;
    background-position:5px 5px;
    padding: 0 0 0 25px;
}

.curriculum:hover{
    text-decoration:none;
}

.state{
    border-radius:25px;
    height:190px;
    background-color:white;
    position:relative;
    z-index:200;
    margin-top:8%;
}

.quantity {
    font-size: 70px;
    color: #666666;
    margin-left: 40px;
}

.quantity2 {
    font-size: 70px;
    color: #666666;
    margin-left: 20px;
}

.quantity3 {
    font-size: 37px;
    color: white;
}

.primary {
    font-size: 20px;
    color: #666666;
    margin-left: 10px;
}

.secondary {
    font-size: 11.24px;
    color: #666666;
    margin-left: 11px;
}

.pre {
    font-size: 10px;
}

.applicant-text {
    font-size: 14px;
    color: white;
}

.campaign{
    color: #ffffff;
    font-size: 38px;
    text-shadow: 7px 5px 3px rgba(0,0,0,0.5);
    text-align: right;
    margin-top:15%;
    margin-right: 15px;
}

.plan-type{
    height:70px;
}

.big-div{
    width: 85%;
    margin:0 auto;
    box-shadow: 0px 8px 5px rgba(0,0,0,0.1);
    border-radius:25px;
    background-color:white;
    position:relative;
    z-index:200;
    margin-top: 50px;
    padding:70px 30px;
    margin-bottom: 20px;
    font-family:BertholdAkzidenzGroteskRegular;
}

.candidate-name{
    font-family:BertholdAkzidenzGroteskBold;
    font-size:48.23px;
    color:#666666;
}

.profession{
    font-family:BertholdAkzidenzGroteskRegular;
    font-size:36.17px;
    color:#666666;
}

.city, .work-area{
    font-family:BertholdAkzidenzGroteskRegular;
    font-size:24.11px;
    color:#666666;
}

.test-distinction-name{
    font-family:BertholdAkzidenzGroteskRegular;
    font-size:20px;
    color:#666666;
}

.test-distinction-question{
    font-family:BertholdAkzidenzGroteskRegular;
    font-size:18px;
    color:#666666;
}

.download{
    font-family:BertholdAkzidenzGroteskBold;
    font-size:24.11px;
    color:#666666;
}

.arrow{
    color: #666666;
    font-size: 35px;
}

.internal-div{
    padding:40px;
}


.candidate-div{
    width: 100%;
    margin: 0 auto;
    border-radius:25px;
    border-style:solid;
    border-width:3px;
    border-color: #F1F1EB;
    padding:10px;
    margin-bottom:20px;
}

.div1{
    width: 70%;
    margin-left:25%;
    box-shadow: 0px 8px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.center{
    text-align:center;
}
.div2{
    width:95%;
    box-shadow: 0px 8px 5px rgba(0,0,0,0.1);
}

.div3{
   width: 100%;
   margin-left:25%;
   box-shadow: 0px 8px 5px rgba(0,0,0,0.1);
   text-align: center;
}

.div4{
   width: 65%;
   margin-left: 30%;
   box-shadow: 0px 8px 5px rgba(0,0,0,0.1);
}

.div5{
   width: 125%;
   margin-left:25%;
   box-shadow: 0px 8px 5px rgba(0,0,0,0.1);
   text-align: center;
}

.div6{
   width: 40%;
   margin-left: 55%;
   box-shadow: 0px 8px 5px rgba(0,0,0,0.1);
   text-align:center;
}

.date, .total, .status{
    color: #ffffff;
    font-size: 20px;
    margin-bottom:3px;
}

.total, .status {
    text-transform: uppercase;
}

.status-name{
    color:#b5ce53;
    font-size:27px;
    margin-bottom: 0;
}

.general-circles{
    text-align: center;
}

.another-info-section{
    margin-top:30px;
}

.contact-data{
    text-align:center;
    margin-bottom:20px;
}

.comments-section{
    text-align:left;
}

.comments-block{
    text-align:left;
}

.comments-tittle{
    margin-top:30px;
}

.comments-area{
    margin-top:30px;
    width:80%;
    height: 150px;
    border-radius:20px;
    overflow:auto;
    border: 2px solid #aaa;
    resize: none;
    padding:15px;
}

/* ask to jp, better scrollbar???
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/

.line{
    height: 2px;
    background-color: #666666;
    width: 60%;
}

.line2{
    height: 2px;
    background-color: #666666;
    width: 100%;
    margin: 0 auto;
}

.status-description{
    color:#666666;
    font-size:15px;
    margin-bottom: 0;
}

.candidate-circle{
    height:200px;
    width:200px;
    margin:0 auto;
    border-radius:100%;
    margin-bottom:15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.candidate-avatar-column{
    padding:0;
}

.email-checkbox{
    width: 20px;
    position: relative;
    float: left;
    margin-top: 5vh;
    display:none;
}

.comment-button{
    font-size: 12px;
    width: 150px;
    color: white;
    border-radius: 40px;
    padding: 10px 19px;
    background: #F47B20;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}



.wp-button{
    font-size: 12px;
    width: 190px;
    height: 30px;
    background: rgba(0, 174, 77, 1);
    color: white;
    border-radius: 40px;
    margin: 0 auto 25px auto;
    text-align: center;
    padding: 5px 15px;
}

a:hover{
    text-decoration:none;
}

.wp-logo{
    background-image:url(../img/wp_logo.png);
    background-repeat:no-repeat;
    padding-top: 3px;
    padding-left: 15px;
}

.wp-text{
    text-decoration: none;
    margin-top: 12px;
}

.email-button:hover{
    text-decoration:none;
}

.separator-div{
    width:1%;
}

.separator{
    background-color: #b5ce53;;
    width: 5px;
    height: 110px;
    border-radius: 30%;
}

.profile{
    width:80%;
}

.female-avatar{
    background: url(../img/female-avatar.png) no-repeat top center scroll ;
    background-size:cover;
}

.male-avatar{
    background: url(../img/male-avatar.png) no-repeat top center scroll ;
    background-size:cover;
}

.avatar1 {
    background: url(../img/avatar1.png) no-repeat top center scroll ;
    background-size:cover;
}

.avatar2 {
    background: url(../img/avatar2.png) no-repeat top center scroll ;
    background-size:cover;
}

.avatar3 {
    background: url(../img/avatar3.png) no-repeat top center scroll;
    background-size:cover;
}

.recommended{
    height:170px;
    width:70%;
    margin:0 auto;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    margin-top:10px;
    margin-bottom:0px;
    margin-right:20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/avatar4.png) no-repeat top center scroll ;
    background-size:cover;
    position:absolute;
    right:0;
    top:0;
    text-align: center;
}

.relevant{
    height:170px;
    width:60%;
    margin:0 auto;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    margin-top:10px;
    margin-bottom:0px;
    margin-right:20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/avatar5.png) no-repeat top center scroll ;
    background-size:cover;
    position:absolute;
    right:0;
    top:0;
    text-align: center;
}

.applicant{
    height:100%;
    width:100%;
    margin:0 auto;
    border-radius:25px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/avatar6.png) no-repeat top center scroll ;
    background-size:cover;
    position:absolute;
    right:0;
    top:0;
    position: absolute;
    z-index:-1;
}
/***********************************************TEST CIRCLES***********************************************************/
.condoms-row{
    text-align: left;
    display:inline-table;
}

.fill{
    border-radius: 100%;
    height: 70px;
    width: 70px;
    position: relative;
    z-index: 3;
    margin: 10px auto;
    border-style: solid;
    border-width: 8px;
    display: inline-block;
    padding-top: 20px;
    color: black;
    font-size: 12px;
    text-align: center;
    cursor:pointer;
    /*background: linear-gradient(to top, rgba(238, 235, 52, 0.7) 85%, transparent 85%);
    border-color:rgba(238, 235, 52, 1);*/
}

.test-name{
    position: relative;
    z-index: 3;
    display: inline-block;
    color: black;
    width: 80px;
    margin: 10px auto;
    font-size: 12px;
    vertical-align: bottom;
    text-align: center;
}

.test-title-short{
    display:none;
}

.final-row{
    margin-bottom:100px;
}

.final-fill, .final-test-name{
    margin:0;
}

.profile-row{
    margin-bottom:20px;
    margin-top:20px;
}
/**************************************************FOOTER**************************************************************/
footer {
    background-color:#3d4753;
    color:#FFFFFF;
    position:relative;
    z-index:100;
}
.footer-navigation{
    padding-bottom:30px;
}

.navfooter {
	margin-top:55px;
	color:#FFFFFF;
}

.navfooter ul {
    text-align: center;
}

.social {
	margin-top:50px;
	text-align:center
}

.navfooter ul li {
	padding:0px 10px 0px 10px !important;
	list-style-type: none;
	display:inline-block;
}

.navfooter ul li a{
	color:white;
}

.navfooter ul li a:hover{
	color:#c9d86a;
	text-decoration:none;
}

.navfootercontact {
	margin-top:40px;
	color:#FFFFFF;
	line-height:20px;
	text-align:center;
}

.copyright {
	padding:20px;
	text-align:center;
	font-size:0.7em;
	border-top:groove 2px;
	border-color:rgba(255, 255, 255, .1);
}

.copyright a{
	color:white;
}

.copyright a:hover{
	color:#c9d86a;
	text-decoration:none;
}

#contact-buttons {
	position:fixed;
	margin-top:77vh;
	margin-left:100%;
	left:-100px;
	z-index:100;
	float:right;
}

#contact-buttons img {
	padding-bottom:5px;
}

.logo {
    float:left;
}

.logo img{
    margin-left:30px;
    width:70px;
}

.contact{
    width:80%;
    float:right;
    display:block;
    padding-left: 30px;
    margin-top: -50px;

}

/**************************************************RESPONSIVE**********************************************************/

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child), .navButton {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

    .sidenav {
        display:none;
    }

    .panel{
        padding: 30px 0 0 0;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 768px) {
    .background{
        background: url(../img/cel-Start_BG-01-min.jpg) no-repeat top center scroll ;
        background-size:contain;
    }

    .div1, .div2, .div3, .div4, .div5, .div6{
        margin-left:0;
        width: 100%;
    }

    .condoms-row{
        text-align: center;
    }

    .position{
        relative;
    }

    .date{
        font-size: 12px;
    }

    .campaign{
        text-align: left;
        margin-top: 60%;
        margin-right: 0;
    }

    .gradient2{
        margin-top:0;
    }

    .profile {
        width: 100%;
    }

    .logo-white{
        margin-bottom:20px;
    }

    .line{
        display:none;
    }

    .comments-area {
        width:100%;
    }

    .comments-section{
        text-align:center;
    }

    .responsive-center{
        text-align: center;
    }

    .big-div{
        width:90%;
    }

    .test-distinction{
        margin:0;
    }
}