.section-container{
    background: url(../img/index.jpg) no-repeat top center scroll ;
    background-size:cover;
    min-height: 500px;
    text-align:center;
}

.only-register-form{
    background: rgba(61,71,83,0.42);
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
    padding: 10px 0;
    color: black;
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.only-register-form input{
    display: block;
    text-align:center;
    margin: 25px auto;
}

.only-register-form textarea{
    display: block;
    text-align:center;
    width:80%;
    margin: 25px auto;
    resize:none;
}