h3{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 23px;
    color: #656665;
}

h6{
    font-family: Helvetica;
    font-size: 13px;
    color: #3B4754;
}

.center{
    text-align:center;
}

.conjunction {
    margin: 0px 2.4%;
}

.row{
    margin-right:0;
    margin-left:0;
}

.form-label {
    color:white;
}

.register {
    margin-left:30px;
}

.form-label a{
    color:white;
}

.first-row{
    min-height:430px;
}

.number-div{
    top:300px;
}

.origin-requirements{
    padding:10px;
    width:100%;
    border:2px solid #aaa;
}

.origin-city{
    border-radius: 50px;
    padding:10px;
    border:2px solid #aaa;
    width:60%;
}

.origin-vacancy{
    border-radius: 50px;
    padding:10px;
    border: 2px solid #aaa;
    width:100%;
}

.origin-salary{
    border-radius: 50px;
    padding:10px;
    border: 2px solid #aaa;
    width:45%;
}

.origin-workarea{
    border-radius: 50px;
    padding:10px;
    width:100%;
    border: 2px solid #aaa;
}

.city, .vacancy{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 30px;
    color:white;
}

/**************************************************SLIDER**************************************************************/

.regular, .slider {
    z-index:2;
    position:relative;
    width:65%;
    margin: 10px auto 50px auto;
}

.slide-css{
    margin-right: 10px;
}

.slide-css img{
    width:100%;
}

.slide-css img:hover{
    border:solid white
}

.slide-css img:hover + p {
    color : rgb(203, 221, 104);
    text-shadow : 2px 2px 2px rgba(35, 31, 32, 0.8);
}

.slider-text{
    top: 320px;
}

.slider-text span{
    color:white;
    text-align:center;
    font-size: 19px;
}

.slider div p {
    color:white;
    text-align:center;
    font-size: 20px;
    font-family: BertholdAkzidenzGroteskRegular;
}

.super{
    font-family: BertholdAkzidenzGroteskSuper;
}

.bold{
    font-family: BertholdAkzidenzGroteskBold;
}

.regular{
    font-family: BertholdAkzidenzGroteskRegular;
}

/* To change slick width
.slick-slide{
width: 170px;
}
*/

/**************************************************SVG*****************************************************************/

.svg-container {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  height:auto;
  bottom:-1%;
  position:absolute;
  opacity:0.99;
}

/**************************************************SECTIONS************************************************************/

.main-section {
	width:auto;
	background: url(../img/Start_BG-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.section-three {
    width:auto;
    min-height:700px;
	background: url(../img/start_section3.png);
	background-size: cover;
	position: relative;
}

.little-section {
    width:80%;
    height:250px;
    background: url(../img/Start_BG-01.jpg);
    background-size: cover;
    position: absolute;
    border-radius:40px;
    margin-top:60px;
    z-index: -3;
}

.button-cta {
    background-color: #ff9933;
	border-radius:40px;
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
	font-weight:600;
}

.submit {
    width:142px;
    background-color: #ffffff;
	border-radius:40px;
    border: none;
    color: #3d4753;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
	font-size:11px;
    display: inline-block;
    cursor: pointer;
    margin-left:20px;
    margin-top:0;
    margin-bottom:30px;
}

/**************************************************GRADIENTS AND OVERLAYS**********************************************/

.gradient1 {

    background:-webkit-linear-gradient(90deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:-o-linear-gradient(90deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:-moz-linear-gradient(90deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:linear-gradient(90deg, rgba(23,32,42,0) 40%, rgba(23,32,42,0.3) 50%, rgba(23,32,42,0.5) 80%, rgba(0,0,0,0.6) 90%, rgba(0,0,0,1)100%);
}

.gradient2 {
    background:-webkit-linear-gradient(180deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:-o-linear-gradient(180deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:-moz-linear-gradient(180deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:linear-gradient(180deg, rgba(23,32,42,0) 60%,  rgba(23,32,42,0.5) 80%, rgba(0,0,0,0.6) 100%);
}

#overlay {
    position:absolute;
    width: 100%;
    height: 90%;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    display:none;
    background:transparent;
    }

#overlay-login {
    display:none;
    position:absolute;
    width: 100%;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background:-webkit-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:-o-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:-moz-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
}

#login-form {
    z-index:1;
    position: relative;
    background:rgba(61,71,83,0.42);
    width:380px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 180px;
    margin-left: 160%;
    font-size:13px;
    border-radius:30px;
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
}

#login-form fieldset{
    padding:0 22%;
}

#login-form fieldset span{
    color:white;
}

#overlay-signup {
    display:none;
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background:-webkit-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:-o-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:-moz-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
}

/**************************************************TRANSITIONS*********************************************************/

#register-form {
    z-index:1;
    position: absolute;
    background:rgba(255,255,255,0.42);
    width:360px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 180px;
    margin-left: 8%;
    font-size:13px;
    border-radius:30px;
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
    opacity:0;
}

#register-form fieldset {
    padding:0 22%;
}

#register-form fieldset span {
    color:black;
}

.only-register-form {
    z-index:1;
    position: relative;
    background:rgba(61,71,83,0.42);
    width:360px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 160%;
    font-size:13px;
    border-radius:30px;
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
}

.only-register-form fieldset {
    padding:0 22%;
}

.only-register-form fieldset span {
    color:white;
}

.backend-description{
    margin-top: 10px;
    width: 400px;
    height: 300px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    resize: none;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
}

.description{
    width:80%;
}

.form-input {
    margin-top:1px;
    margin-bottom:10px;
    width:200px;
    background: rgba(255,255,255,0.1);
    border-style: groove;
    border-color: rgba(61,71,83,0.2);
    border-width: 0.5px;
    padding: 1px 0;
    color:black;
}

.exitDingbat {
    color:white;
    float:right;
    font-size:25px;
    cursor:pointer;
    margin-right: -50px;
}
/**************************************************SECTION INDICATOR***************************************************/
.big-number{
    font-family : BertholdAkzidenzGroteskSuper;
    font-size : 115px;
    color : rgb(203, 221, 104, 1);
}
.first{
    color : rgb(203, 221, 104, 0.75);
}

.first-point{
    font-size:50px;
}

.point {
    font-size:50px;
}

.section1-description{
    text-align:right;
    top:150px;
}

.description1{
    font-family: BertholdAkzidenzGroteskSuper;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.description2{
    font-family : BertholdAkzidenzGroteskRegular;
    font-size : 32px;
    color : rgb(255, 255, 255);
}

.section2-description{
    top:17px;
}

.section2-description span{
    font-size : 20px;
    color : #656665;
}

.section3-description{
    top:75px;
}

.section3-description span{
    font-size : 20px;
    color : #656665;
}

.section-indicator{
    font-size:170px;
    margin: 0px 50%;
    color: black;
    position:absolute;
    z-index:2;
}

.section-two {
    margin-bottom:70px;
}

.section-indicator ul{
    float: right;
    right:0;
    border-left: 1px groove black;
    padding-left: 15px;
    list-style: none;
    line-height: 0px;
    z-index:2;
    position:relative;
    margin-top: 45px;
}

.resume{
    font-size : 35px;
    color : #656665;
    opacity : 0.2;
}

.section-indicator li {
    padding-bottom: 20px;
    font-family : Helvetica;
    font-size : 16px;
    color : #656665;
}

.section-indicator li:last-child {
    padding-bottom: 0;
}

.active  {
    font-family : Helvetica;
    font-weight : bold;
    font-size : 18px;
    color : #656665;
}

.div-indicator {
    border-radius:50px;
    width:16px;
    height:1px;
    padding: 2.2px;
    left: -23px;
    position: relative;
    transform: rotate(-52deg);
    background:white;
    border: 1.5px solid #656665;
    top: 1.7px;
}

.active .div-indicator{
    background: #CADD68;
}

.form-image {
    background: url(../img/form_bg.png) no-repeat top center scroll;
			-webkit-background-size: contain;
			-moz-background-size: contain;
			-o-background-size: contain;
			background-size: 580px 430px;
			background-position: 186% 0%;
}

.final{
    background-position: 86% 0%;
}

.navButton {
    float: right;
    font-size: 12px;
    width:160px;
    background-color: white;
	border-radius:40px;
    border: none;
    margin: 15px 10px;
    cursor: pointer;
    z-index:1;
    text-align:center;
    background : -moz-linear-gradient(52.11% -28.76% -98deg,rgba(249, 241, 129, 1) 0%,rgba(192, 226, 125, 1) 17.36%,rgba(124, 208, 119, 1) 39.74%,rgba(71, 194, 115, 1) 60.01%,rgba(32, 184, 112, 1) 77.44%,rgba(9, 177, 111, 1) 91.35%,rgba(0, 175, 110, 1) 100%);
    background : -webkit-linear-gradient(-98deg, rgba(249, 241, 129, 1) 0%, rgba(192, 226, 125, 1) 17.36%, rgba(124, 208, 119, 1) 39.74%, rgba(71, 194, 115, 1) 60.01%, rgba(32, 184, 112, 1) 77.44%, rgba(9, 177, 111, 1) 91.35%, rgba(0, 175, 110, 1) 100%);
    background : -webkit-gradient(linear,52.11% -28.76% ,47.89% 128.76% ,color-stop(0,rgba(249, 241, 129, 1) ),color-stop(0.1736,rgba(192, 226, 125, 1) ),color-stop(0.3974,rgba(124, 208, 119, 1) ),color-stop(0.6001,rgba(71, 194, 115, 1) ),color-stop(0.7744,rgba(32, 184, 112, 1) ),color-stop(0.9135,rgba(9, 177, 111, 1) ),color-stop(1,rgba(0, 175, 110, 1) ));
    background : -o-linear-gradient(-98deg, rgba(249, 241, 129, 1) 0%, rgba(192, 226, 125, 1) 17.36%, rgba(124, 208, 119, 1) 39.74%, rgba(71, 194, 115, 1) 60.01%, rgba(32, 184, 112, 1) 77.44%, rgba(9, 177, 111, 1) 91.35%, rgba(0, 175, 110, 1) 100%);
    background : -ms-linear-gradient(-98deg, rgba(249, 241, 129, 1) 0%, rgba(192, 226, 125, 1) 17.36%, rgba(124, 208, 119, 1) 39.74%, rgba(71, 194, 115, 1) 60.01%, rgba(32, 184, 112, 1) 77.44%, rgba(9, 177, 111, 1) 91.35%, rgba(0, 175, 110, 1) 100%);
    background : linear-gradient(188deg, rgba(249, 241, 129, 1) 0%, rgba(192, 226, 125, 1) 17.36%, rgba(124, 208, 119, 1) 39.74%, rgba(71, 194, 115, 1) 60.01%, rgba(32, 184, 112, 1) 77.44%, rgba(9, 177, 111, 1) 91.35%, rgba(0, 175, 110, 1) 100%);
}
/**************************************************TRIX EDITOR*********************************************************/

trix-toolbar [data-trix-attribute='quote'],
trix-toolbar [data-trix-attribute='code'],
trix-toolbar [data-trix-attribute='href'],
trix-toolbar [data-trix-attribute='number'],
trix-toolbar [data-trix-attribute='heading1'],
trix-toolbar [data-trix-action = 'decreaseNestingLevel'],
trix-toolbar [data-trix-action ='increaseNestingLevel']
 {
  display: none;
}

trix-editor {
    height: 350px;
    border-radius:20px;
    overflow-y:auto;
    border: 2px solid #aaa;
}

trix-editor ul {
    padding-left:5%;
}


/**************************************************HEADER**************************************************************/

.topnav {
  overflow: hidden;
  background-color: transparent;
  top:0.01%;
  width:100%;
  border-bottom: 2px groove;
  border-color:rgba(255, 255, 255, .5);
}

.topnav .icon {
    display: none;
    font-size:25px;
    margin-right: 20px;
    float:right;
}

.topnav a:not(:first-child){
  float: right;
}

.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 0;
  text-decoration: none;
  position: relative;
}

.navText {
    margin: 15px 10px;
}

#contact-buttons {
	position:fixed;
	margin-top:77vh;
	margin-left:100%;
	left:-100px;
	z-index:100;
	float:right;
}

#contact-buttons img {
	padding-bottom:5px;
}

.contact{
    width:80%;
    float:right;
    display:block;
    padding-left:20px
}

/**************************************************RESPONSIVE**********************************************************/

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }

  .topnav.responsive a:not(.navButton) {
    text-align: left;
  }
}

@media  (max-width: 768px){

	.main-section {
        background: url(../img/cel-Start_BG-01.jpg) no-repeat top center scroll ;
        background-size:cover;
    }

    .hide-responsive {
        display:none;
    }

    .section1-description {
        top: 340px;
    }

    .section2-description {
        top: 67px;
    }

    .section3-description {
        top:67px;
    }

    .section2-description span, .section3-description span{
        font-size:13px;
    }

    .description1{
        font-size:25px;
        margin-bottom:10px;
    }

    .description2{
        font-size:18px;
    }

    .regular, .slider {
        width: 80%;
        margin: 30px auto 60px auto;
    }

    .navButton {
        width:160px;
        margin: 15px 10px;
        text-align:center;
    }

    .slide-css {
    margin-right: 10px;
    }

    .slick-prev, .slick-next{
        top:40%;
    }

    .slick-prev {
        left: -35px;
    }

    .description{
        width:100%;
    }

    .resume, .arrow, .svg-container {
        display:none;
    }

    .button-cta {
        margin-top: 30px;
        margin-bottom: 300px;
    }

    .little-section{
        margin-top: 100px;
    }

    .vacancy-description{
        margin-bottom: 30px;
    }

}