{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{% trans "PeakU" %}{% endblock %}

{% block extra_head %}

{% endblock %}


{% block content %}
   <!-- BEGIN WELCOME -->
    <div class="welcome-section" id="top" align="center">
      <div class="title">
        <br>
        <a class="scroll logo" style="font-family:CANDARA; font-size:65px; color:black;
         margin-bottom:50px;"> <img src="{% static 'beta_invite/logo.png' %}" width="200px" ></a>

		  <div style="margin-top:55px;">

              <b style="color:#F8E676; font-size:25px; font-weight:400; text-transform: uppercase;">{% trans "Upload your resume" %}</b>
              <br>
              <br>

              <form action="add_cv_changes" method="post" style="text-align:center; margin-top:0px;" enctype="multipart/form-data">

                {% csrf_token %}

                  <input type="hidden" name="user_id" value="{{ user_id }}" />

                  <div style="margin-top:0px;">

                      <input style="font-family:Raleway; height: 30px; font-size: 12px; cursor:pointer; width:266px; margin: 0 auto;" type="file"
                        name="curriculum_url" id="curriculum" required="required">
                  </div>

                <br>

                {% trans "Sure!" as submit_value %}
                <input style="height: 44px; border: solid 0px white; background:#F8E676; color:black; text-align:center;
                 width: 81px; font-size: 16px; width: 250px; margin-bottom:40px; margin-top:5px; cursor:pointer;" type="submit" value="{{ submit_value }}">
                <br>
                <br>
                <br>
                <br>
              </form>
		  </div>
      </div>
    </div>
{% endblock %}
