{% extends 'white_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block title %}Agencia de empleo y trabajo{% endblock %}
{% block extra_meta %}
    <meta name="description"  content="En PeakU te ayudamos a encontrar el empleo que buscas en compañias que se ajustan a tu perfil, experiencia y salario. Somos una empresa que trabaja en selección de personal, no una temporal." />
    <meta name="keywords" content="computrabajo, servicio de empleo, empleo, empleos, trabajos, trabaja con nosotros, buscador de empleo, bolsa de empleo, agencia de empleo" />
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'beta_invite/css/additional_info.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'beta_invite/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'beta_invite/js/jquery_easing_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'beta_invite/js/additional_info.js' %}"></script>
{% endblock %}

{% block content %}
<script>
    function sendPartial(param_dict) {
        general_dict = {candidate_id:{{ candidate.id }}, csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()}

        $.ajax({
			type:'POST',
			url:'save_partial_additional_info',
			data: Object.assign({}, general_dict, param_dict),
			success:function(){} });
    }
</script>

	<!-- multistep form -->
	<form id="msform" autocomplete="off" method="post" action="active_campaigns" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="candidate_id" value="{{ candidate.pk }}" />
		<!-- progressbar -->
		<ul id="progressbar">
			<li class="active"></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<!-- fieldsets 27 items for ask -->
		<fieldset> <!-- three item asked -->
			<h2 class="fs-title">Género</h2>
			<h3 class="fs-subtitle">¿Eres hombre o mujer?</h3>
			<select id="gender" name="gender_id" required>
				<option value="" disabled selected>Selecciona tu género</option>
				{% for sex in genders %}
					<option value="{{ sex.id }}">{{ sex.name }}</option>
				{% endfor %}
			</select>
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'gender_id':$('#gender').val()})"/>
		</fieldset>
		<fieldset> <!-- three items asked -->
			<h2 class="fs-title">Datos académicos</h2>
			<h3 class="fs-subtitle">Tu información académica</h3>
			<select id="education" name="education_id" >
				<option value="" disabled selected>{% trans "Select Education" %}</option>
				{% for level in education %}
					<option value="{{ level.id }}">{{ level.name }}</option>
				{% endfor %}
			</select>
			<select id="work_area" name="work_area_id">
				<option value="" disabled selected>Área de trabajo</option>
				{% for work_area in work_areas %}
					<option value="{{ work_area.id }}">{{ work_area.name }}</option>
				{% endfor %}
			</select>
			<textarea name="programs_id" id="programs" placeholder="Programas que manejas" rows="6" cols="50" maxlength="250" ></textarea>
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'education_id':$('#education').val(), 'profession_id':$('#profession').val(), 'programs':$('#programs').val()})"/>
		</fieldset>
		<fieldset> <!-- three items asked -->
			<h2 class="fs-title">Experiencia</h2>
			<h3 class="fs-subtitle">Breve información laboral</h3>
			<select id="profession" name="profession_id" >
				<option value="" disabled selected>{% trans "Select Profession" %}</option>
				{% for profession in professions %}
					<option value="{{ profession.id }}">{{ profession.name }}</option>
				{% endfor %}
			</select>
			<input type="number" id="experience" oninput="removeAnyDots(this);" min="0" max="100" step='1' name="experience" placeholder="Años de experiencia">
			<input type="number" pattern="[0-9]{3-10}" oninput="removeAnyDots(this);" name="salary" step="100000" placeholder="Aspiración salarial" id="salary">
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'work_area_id':$('#work_area').val(), 'experience':$('#experience').val(), 'salary':$('#salary').val()})"/>
		</fieldset>
		<fieldset> <!-- four items asked -->
			<h2 class="fs-title">Ubicación</h2>
			<h3 class="fs-subtitle">Información de contacto adicional</h3>
			<select id="country" name="country" >
				<option value="" disabled selected>Selecciona tu país</option>
				{% for country in countries %}
					<option value="{{ country.id }}">{{ country.name }}</option>
				{% endfor %}
			</select>
			<select id="city" name="city" >
				<option value="" disabled selected>Selecciona tu ciudad</option>
				{% for city in cities %}
					<option value="{{ city.id }}">{{ city.name }}</option>
				{% endfor %}
			</select>
			<input type="text" id="address" name="address" placeholder="Dirección" maxlength="100"/>
			<input type="text" id="neighborhood" name="neighborhood" placeholder="Barrio" maxlength="40"/>
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'country_id':$('#country').val(), 'city_id':$('#city').val(), 'address':$('#address').val(), 'neighborhood':$('#neighborhood').val()})"/>
		</fieldset>
		 <fieldset> <!-- two items asked -->
			<h2 class="fs-title">Perfil</h2>
			<h3 class="fs-subtitle">Descríbete brevemente</h3>
			<textarea name="profile" id="profile" placeholder="Describe lo que haces de forma concreta y concisa" rows="6" cols="50" maxlength="250" ></textarea>
			<input type="text" name="languages" id="languages" placeholder="Idiomas que manejas" maxlength="100"/>
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'profile':$('#profile').val(), 'languages':$('#languages').val()})"/>
		</fieldset>
		<fieldset> <!-- two items asked -->
			<h2 class="fs-title">Teléfonos adicionales</h2>
			<h3 class="fs-subtitle">Información de contacto adicional</h3>
			<input type="text" id="phone2" name="phone2" placeholder="Fijo" maxlength="40"/>
			<input type="text" id="phone3" name="phone3" placeholder="Celular alterno" maxlength="40"/>
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'phone2':$('#phone2').val(), 'phone3':$('#phone3').val()})"/>
		</fieldset>
		<fieldset> <!-- two items asked -->
			<h2 class="fs-title">Información personal</h2>
			<h3 class="fs-subtitle"></h3>
			<input type="text" id="document" name="document" placeholder="Documento de identificación" maxlength="50"/>
			<input placeholder="Fecha de nacimiento" oninput="limitDate(this);" type="text" id="birthday" name="birthday" onfocus="(this.type='date')" onblur="(this.type='text')" title="Ingresa tu fecha de nacimiento en el formato específicado">
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'document':$('#document').val(), 'birthday':$('#birthday').val()})"/>
		</fieldset>
		<fieldset> <!-- two items asked -->
			<h2 class="fs-title">Información adicional</h2>
			<h3 class="fs-subtitle">Puede ser útil</h3>
			<input type="text" id="dream_job" name="dream_job" placeholder="Empresa soñada" maxlength="50"/>
			<textarea name="hobbies" id="hobbies" placeholder="Hobbies" rows="6" cols="50" maxlength="250" ></textarea>
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'dream_job':$('#dream_job').val(), 'hobbies':$('#hobbies').val()})"/>
		</fieldset>
		<fieldset> <!-- four items asked -->
			<h2 class="fs-title">Redes sociales</h2>
			<h3 class="fs-subtitle">Tu presencia en redes sociales</h3>
			<input type="text" id="twitter" name="twitter" placeholder="Twitter" maxlength="250"/>
			<input type="text" id="facebook" name="facebook" placeholder="Facebook" maxlength="250"/>
			<input type="text" id="instagram" name="instagram" placeholder="Instagram" maxlength="250"/>
			<input type="text" id="linkedin" name="linkedin" placeholder="Linkedin" maxlength="250"/>
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="button" name="next" class="next action-button" value="Siguiente" onclick="sendPartial({'twitter':$('#twitter').val(), 'facebook':$('#facebook').val(), 'instagram':$('#instagram').val(), 'linkedin':$('#linkedin').val()})"/>
		</fieldset>
		<fieldset> <!-- two items asked -->
			<h2 class="fs-title">Anexos</h2>
			<h3 class="fs-subtitle">Sería bueno tener tu foto y si cuentas con un brochure</h3>
			<input type="file" id="photo" name="photo_url" class="form-inputfile">
			<label for="photo">Sube tu foto</label>
			<input type="file" id="brochure" name="brochure_url" class="form-inputfile">
			<label for="brochure">Sube tu brochure</label>
			<br>
			<input type="button" name="previous" class="previous action-button" value="Atrás" />
			<input type="submit" name="submit" class="submit action-button" value="¡ Enviar !" />
		</fieldset>
	</form>

	<script>
		$(document).ready(function() {
			additional_info();
			removeAnyDots();
		});
	</script>
{% endblock %}

