<!DOCTYPE html>
<html>
<head>
	<title>stats</title>
	{% load static %}
   <script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.js' %}"></script>
   <script type="text/javascript" src="{% static 'fusioncharts/js/themes/fusioncharts.theme.fint.js' %}"></script>
</head>
<body>
	<div id="chart-1">{{ output|safe }}</div>
</body>
</html>
