{% extends 'no_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block title %}{% trans 'Empleos en Colombia | Ofertas de Trabajo. Buscar empleo' %}{% endblock %}
{% block extra_meta %}
    <meta name="description"  content="Encuentra vacantes, trabajos y ofertas de empleo en Colombia, Chile, Ecuador, Perú y Argentina. Registra gratis tu hoja de vida en nuestra bolsa de empleo." />
    <meta name="keywords" content="computrabajo, servicio de empleo, empleo, ofertas de empleo, empleos, trabajos, trabaja con nosotros, buscador de empleo, bolsa de empleo, agencia de empleo" />
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'testing_webpage/css/index.css' %}">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'business/js/index.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="fix-content-space">
        <div class="row blankbanner"></div>
        <div class="section1">
            <div class="row" id="main-copy">
                <h1 id="main-copy-title">{% trans 'Your ideal job' %}</h1>
                <p id="main-copy-big-title">{% trans 'AWAITS YOU'%}</p>
                <span class="first-description">{% trans 'Leave us your mail, we do the rest' %}</span>
                <form action="{% url 'beta_invite:index' %}">
                    <button class="button-cta" role="button">{% trans 'Apply' %}</button>
                </form>
            </div>
            <div class="row blankabout responsive-no"></div>
            <div class="blankabout no-space"></div>
        </div>
        <div class="row section2">
            <div class="col-lg-6 col-md-6 col-xs-12 woman-working"></div>
            <div class="col-lg-6 col-md-6 col-xs-12 description2">
                <h5>{% trans 'At PeakU we help you find the job you are looking for in companies that fit your profile, experience and salary.' %}</h5>
                <h4>{% trans 'You can apply to all our job offers easily and without any cost' %}</h4>
            </div>
        </div>
        <div class="row conectors-row">
            <div class="col-lg-12 col-md-12 col-xs-12 conectors">
                <div class="play-div">
                    <a href="https://www.youtube.com/watch?v=QbNDO2ShXIs" target="_blank">
                        <img class="play-button" src="{% static 'testing_webpage/img/play_button.png' %}">
                        <span class="video">{% trans 'WATCH VIDEO' %}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row section3">
            <div class="col-lg-push-6 col-md-6 col-xs-12 workg-people"></div>
            <div class="col-lg-pull-6 col-md-6 col-xs-12 description3">
                <h3>{% trans 'Work with the most important companies' %}</h3>
                <h2>{% trans 'in the world' %}</h2>
                <br>
                <h5 class="last-description">{% trans 'With PeakU you apply only once and you have access to many job openings with multiple companies and multiple roles' %}</h5>
            </div>
        </div>
    </div>
{% endblock %}
