{% extends 'transparent_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block title %}{% trans 'Jobs' %}{% endblock %}
{% block extra_meta %}
<meta name="description"  content="En PeakU te ayudamos a encontrar el empleo que buscas en compañias que se ajustan a tu perfil, experiencia y salario. Somos una empresa que trabaja en selección de personal, no una temporal." />
<meta name="keywords" content="computrabajo, servicio de empleo, empleo, empleos, trabajos, trabaja con nosotros, buscador de empleo, bolsa de empleo, agencia de empleo" />
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'beta_invite/css/index.css' %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'beta_invite/js/index.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row" style="margin-bottom:40px;">
    <h2 class="descriptions">{% trans "AVAILABLE POSITIONS" %}</h2>
</div>
<div class="jobs-background">
    <!----------------------------------------------SECTION 1---------------------------------------------------------->
    <div id="overlay-signup">
        <div class="form-image">
            <form class="only-register-form" action="{% url 'beta_invite:register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <span class="exitDingbat" onclick="off_signup()">X</span>
                    <br>
                    <br>
                    <input type="hidden" name="campaign_id" value="{{ campaign_id }}"/>
                    <input type="hidden" name="candidate_id" value="{{ candidate.pk }}"/>
                    <span>{% trans 'Your Full Name' %}</span>
                    <input class="form-input" id="name" type="text" name="name" required="required" pattern="[A-Za-z\sáéíóúÑñÜüÁÉÍÓÚ]{1,200}">
                    {% if campaign.has_email %}
                    <span>{% trans 'Your email' %}</span>
                    <input class="form-input" id="email" type="email" name="email" required="required">
                    {% endif %}
                    <span>{% trans 'Your phone' %}</span>
                    <input class="form-input" id="phone" type="tel" name="phone" required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">
                    <span>Ciudad de residencia</span>
                    <select class="form-input white" name="city_id" >
                        <option value="{{ default_city.id }}">{{ default_city.name }}</option>
                        {% for city in cities %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                    <span>Área de trabajo</span>
                    <select class="form-input white" name="work_area_id" required>
                        <option value="" selected disabled></option>
                        {% for work_area in work_areas %}
                        <option value="{{ work_area.id }}">{{ work_area.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <div>
                        <input type="file" id="file" name="curriculum_url" class="form-inputfile" onchange="pressed()">
                        <label for="file" id="fileLabel">{% trans "Upload your resume" %}</label>
                        <label class="form-checkbox-container">
                        <input class="form-checkbox" type="checkbox" id="politics" name="politics" required>
                        <a href="security_politics" target="_blank"> He leído y acepto las políticas de privacidad</a>
                        </label>
                    </div>
                    <input class="submit" type="submit" id="submit" value="{% trans 'Sure!' %}">
                </fieldset>
                </span>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div>
        {% for campaign in active_campaigns %}
        <div class="campaign-div">
            <a href="{{ campaign|get_campaign_url }}" target="_blank">

                {% if campaign.title_es %}
                <p class="tittle">{{ campaign.title_es }}</p>
                {% else %}
                <p class="tittle">{{ campaign.title }}</p>
                {% endif %}
                <div class="col-lg-6">
                    <br>
                    <br>
                    {% if campaign.city and campaign.city.name %}
                    <b>CIUDAD: </b>{{ campaign.city.name }}
                    <br>
                    <br>
                    {% endif %}
                    {% if campaign.salary_low_range >= 0 %}
                    <p><b>SALARIO:</b> ${{ campaign.salary_low_range }} a ${{ campaign.salary_high_range }} </p>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <br>
                    <br>
                    <div>
                        <img class="logo2" src="{% static 'business/img/logo-color-negro.png' %}">
                    </div>
                </div>

            </a>
        </div>
        <br>
        <br>
        {% endfor %}
    </div>
</div>
<script>
    window.pressed = function(){
        var a = document.getElementById('file');
        if(a.value == "")
        {
            fileLabel.innerHTML = "Selecciona un archivo";
        }
        else
        {
            var theSplit = a.value.split('\\');
            fileLabel.innerHTML = theSplit[theSplit.length-1];
        }
    };
</script>
<script>
    function on_login() {
    $("#overlay-login").css("display", "block");
    $("#login-form").css("display", "block");
    $("html").css("background-size", "cover");
    $("nav").css("margin-bottom", "40px");
    $("#login-form").animate({"marginLeft": '60%'}, 650,"swing");
    }

    function off_login() {
    $("#overlay-login").css("display", "none");
    $("#login-form").css("display", "none");
    $("nav").css("margin-bottom", "");
    $("#login-form").animate({marginLeft: '160%'});
    }

    function on_signup() {
    $("#overlay-signup").css("display", "block");
    $(".only-register-form").css("display", "block");
    $("html").css("background-size", "cover");
    $("nav").css("margin-bottom", "40px");

    if ($(window).width() < 769) {
        $(".only-register-form").animate({"marginLeft": 'auto'}, 650,"swing");
        $(".only-register-form").css("margin", "100px auto");
    }
    else {
        $(".only-register-form").animate({"marginLeft": '60%'}, 650,"swing");
    }
    $(".form-image").animate({"backgroundPosition": '86%'}, 690,"swing");
    }


    function off_signup() {
    $("#overlay-signup").css("display", "none");
    $(".only-register-form").css("display", "none");
    $("nav").css("margin-bottom", "");
    $(".only-register-form").animate({marginLeft: '160%'});
    $(".form-image").animate({"backgroundPosition": '186%'}, 1,"swing");
    }
</script>
<script>
    $(document).ready(function() {
        set_background("Start_BG-01.jpg", "main-section")
    });
</script>
<script>
    $( window ).resize(function() {
        set_background("Start_BG-01.jpg", "main-section")
    });
</script>
{% endblock %}