/*
	Name: Mountain
	Description: Responsive Coming Soon Page
	Version: 1.0
	Author: MountainTheme
	This template and more are available to purchase on Themeforest.net
	http://themeforest.net/user/MountainTheme
*/



/* === GENERAL === */

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a, a:hover, a:active, a:focus {
	outline: 0;
	border: 0;
	text-decoration: none;
}


.backstretch:after {
	
}

.mbYTP_wrapper:after {
	
}

.mb_YTVPBar {
	display: none !important;
}


#page-loader {
    background-color: #FFFFFF;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
} 

.loader-item {
  	position: absolute;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	top: 50%;
	left: 50%;
}

.colored-border {
    border-color: #03A0D5;
}

.noscript {
	position: relative;
	padding: 20px;
	background-color: rgba(233,233,233,0.2);
	margin:0 auto;
	text-align: center;
	color: rgba(233,233,233,0.8);
}

.container {
	width: 100%;
	max-width: 1000px;
	margin:0 auto;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.player-controls {
	float: right;
}

.player-controls a {
	background: none;
	color: white;
	outline: none;
	width: 30px;
	margin:5px;
	border: 1px solid #F8F8F8;
	border-radius: 50%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	-webkit-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	-ms-transition: all 0.3s ease-in-out !important;
	-o-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
}

.player-controls a:hover {
	background: #16b6ea;
	border: 1px solid #16b6ea;
	-webkit-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	-ms-transition: all 0.3s ease-in-out !important;
	-o-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
}



.fa-spin {
	-webkit-animation:fa-spin 2s infinite linear;
	animation:fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {   
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		  -webkit-transform: rotate(359deg);
		  -moz-transform: rotate(359deg);
		  -o-transform: rotate(359deg);
		  -ms-transform: rotate(359deg);
		  transform: rotate(359deg);
	}
}

@keyframes fa-spin {	
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg)
	}
	100% {
		  -webkit-transform:rotate(359deg);
		  transform:rotate(359deg)
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ABABAB;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ABABAB;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  #ABABAB;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:   #ABABAB;
}



/* === WELCOME === */

.welcome-section {
	width: 100%;
	height: 100%;
	max-height: 100%;
	display: block;
	position: relative;
	z-index: 2000;
	text-align: center;
}

.welcome-section .title {
	width: 100%;
	height: auto;
	position: absolute;
	top: 24%;
	color: rgba(236,240,241,0.9);
}

.welcome-section .title a.logo {
	display: block;
}

.welcome-section .title a.logo img {
	outline: none;
	border: none;
}


.welcome-section .title h1 {
	display: inline-block;
	font-size: 2.5em;
	margin: 0px;
	text-align: center;    
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	padding-top: 20px;
	text-transform: uppercase;
}

.welcome-section .title p {
	padding: 20px;
	margin: 0px;
	word-spacing: 1px;  
	line-height: 25px;
	font-size: 14px;
}

.welcome-section .arrow {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	position: absolute;
	bottom: 0%;
	left: 50%;
	animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
	-webkit-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
	-moz-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
	-o-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
}

.arrow i.fa {
	font-size: 9px;
	cursor: pointer;
}

.arrow a {
	color: #ffffff;  font-size: 15px;  
	width: 18px;  
	border: 2px solid rgba(255, 255, 255, 0.6);  border-radius: 10px;  
	height: 32px;  display: inline-block;  line-height: 42px;
	position: relative;
	bottom: 20px;
}



@-webkit-keyframes wobbleArrow
{
	0% 
	{
	 bottom: 40px;
	}
	100% 
	{ 
	 bottom: 50px; 
	}
}


/* === COUNTDOWN === */

.countdown {
     font-size: 4em;
     margin: 0 auto;
	 font-family: 'Iceberg', sans-serif;
     line-height: 65px;
     display: inline-block;
	 color: #fff;
}

/*.countdown div span {
	display:block;
    font-size: 16px;
    line-height: 19px;

}

.countdown div {
	display:inline-block;
    margin: 0 34px;
}

*/
/* === SERVICES === */

.services-section {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	display: block;
	position: relative;
	color: #5F6061;
	text-align: justify;
	padding: 100px 0 100px;
}

.services-container {
	width: 100%;
	display: table;
}

.services-box{
	width: 100%;
	min-height: 295px;
	position: relative;
	padding: 20px 15px 40px;
	text-align: center;
	color: #000;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
}

.services-section i.fa {
	height: 175px;  
	width: 175px;  
	line-height: 175px; 
	 max-width: 100%;  
	background: #16b6ea;
	position: relative;
	text-align: center;
	font-size: 55px;
	border-radius: 50%;  
	-o-border-radius: 50%;  
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%;
	border-bottom: none;
	color: rgba(255, 255, 255, 1);
	margin: 0 auto 15px auto;
	text-shadow: rgb(19, 155, 199) 1px 1px,     
	rgb(19, 155, 199) 2px 2px,      
	rgb(19, 155, 199) 3px 3px,      
	rgb(19, 155, 199) 4px 4px,      
	rgb(19, 155, 199) 5px 5px,      
	rgb(19, 155, 199) 6px 6px,     
	rgb(19, 155, 199) 7px 7px,      
	rgb(19, 155, 199) 8px 8px,      
	rgb(19, 155, 199) 9px 9px,      
	rgb(19, 155, 199) 10px 10px,      
	rgb(19, 155, 199) 11px 11px,      
	rgb(19, 155, 199) 12px 12px,      
	rgb(19, 156, 200) 13px 13px,      
	rgb(19, 158, 202) 14px 14px,      
	rgb(19, 159, 204) 15px 15px,      
	rgb(19, 161, 206) 16px 16px,      
	rgb(19, 162, 208) 17px 17px,      
	rgb(20, 164, 210) 18px 18px,      
	rgb(20, 165, 212) 19px 19px,      
	rgb(20, 167, 214) 20px 20px,      
	rgb(20, 168, 216) 21px 21px,      
	rgb(20, 170, 218) 22px 22px,      
	rgb(20, 171, 220) 23px 23px,      
	rgb(21, 173, 222) 24px 24px,      
	rgb(21, 174, 224) 25px 25px,      
	rgb(21, 176, 226) 26px 26px,      
	rgb(21, 177, 228) 27px 27px,      
	rgb(21, 179, 230) 28px 28px,      
	rgb(21, 180, 232) 29px 29px,      
	rgb(22, 182, 234) 30px 30px;
}

.services-section a:hover {
	border-bottom: 1px solid rgba(41,128,185,0.8);
}

.services-section .services-container .about-box {
	display: table-cell;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
}

.services-section .services-container .services-box-spacer {
	display: table-cell;
	width: 5%;
}

.services-section .services-container .services-box span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin: 0 auto 30px;
	color: #fc6e51;
}

.services-section .services-container .services-box h3 {
	margin: 0px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 15px;  
	font-weight: bold;
	letter-spacing: 1px;
	word-wrap: break-word;
	text-transform: uppercase;
	font-family: "iceberg", sans-serif;
}

.services-section .services-container .services-box p {
	margin-bottom: 0px;
	margin-top: 25px;
	color: #8c9398;
	text-align: center;
	font-size: 13px;
	word-spacing: 1px;
	line-height: 25px;
}

.services-section h3:after {
    content: " ";  
    border: solid 2px #16b6ea;  display: block;  width: 35px;  
    margin: 20px auto;
}


/* === EMAIL-SUBSCRIBE === */

.subscribe-section {
	width: 100%;
	height: auto;
	padding: 120px 0 140px;
	color: #FFFFFF;
	background: url('../images/keyboard-bg.jpg') no-repeat center center; 
	-webkit-background-size: cover;  
	-moz-background-size: cover;  
	-o-background-size: cover;  
	background-size: cover;  
	background-attachment: fixed;
	text-align: center;
	z-index: 999;
}



.subscribe-section h2 {
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
	margin: 0px;  
	letter-spacing: 1px;  
	text-transform: uppercase;
	padding: 0 0 10px 0;
	font-family: "Iceberg", sans-serif;
}

.subscribe-section i.fa.fa-paper-plane {
	font-size: 29px;
}

.subscribe-section h2 span {
    display: block;
    margin-top: 20px;
}

.subscribe {
	width: 100%;
	height: 50px;
	background-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #ecf0f1;
	font-weight: 300;
	line-height: 22px;
	padding-top: 30px;
	margin:0 auto;
	transition: color 0.5s ease, background-color 0.5s ease;
	-webkit-transition: color 0.5s ease, background-color 0.5s ease;
	-moz-transition: color 0.5s ease, background-color 0.5s ease;
	-o-transition: color 0.5s ease, background-color 0.5s ease;
}

.signup {
	width: 100%;
	height: 50px;
	float: right;
	border-radius: 0px;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-weight: 400;
	transition: width 2s ease;
	-webkit-transition: width 2s ease;
	-moz-transition: width 2s ease;
	-o-transition: width 2s ease;
	-webkit-background-clip: padding-box;
}

.signup-waiting {
	width: 100%;
	height: auto;
}

.signup-error {
	color: #ecf0f1;
}

.signup-success {
	width: 100%;
	background-color: rgba(26,188,156,1.0);
	border: none;
	margin-top: -50px;
	border-radius: 0px;
	color: #ecf0f1;
	position: relative;
	z-index: 2000;
}

#signup-response .loading {
	width: 18px;
	height: 18px;
	position: relative;
	margin-top: 15px;
  	border-bottom: 3px solid rgba(233,233,233,1);
	border-left: 3px solid rgba(233,233,233,1);
	border-right: 3px solid rgba(233,233,233,0.5);
	border-top: 3px solid rgba(233,233,233,0.5);
}

.enteremail {
	font-family: 'Open Sans', sans-serif;
	height: 55px;
	word-spacing: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	width: 39%;
	outline: none;
	background-color: rgba(255, 255, 255, 0.1);
	border: solid 1px rgba(255, 255, 255, 0.17);
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.subscribe .signup-button {
	width: 10%;
	font-family: 'Open Sans', sans-serif;
	height: 55px;
	background-color: rgba(22, 182, 234, 0.52);
	border: none;
	outline: none;
	position: relative;
	float: none;
	font-size: 14px;
	border-radius: 0px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	border: none;
	cursor: pointer;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-background-clip: padding-box;        
	-webkit-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	-ms-transition: all 0.3s ease-in-out !important;
	-o-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
}

.subscribe .signup-button:hover {
    background-color: transparent;  
    border: solid 1px rgba(255, 255, 255, 0.21);  color: #fff;
}

.signup-button.signup-button-error {
	background-color: rgba(231, 76, 60,0.6);
	color: #ecf0f1;
}

.signup-button.signup-button-error:hover {
	background-color: rgba(231, 76, 60,0.6);
	color: #ecf0f1;
}

.signup-button.signup-button-success {
	background-color: rgba(26,188,156,0.8);
	color: transparent;
}

label.subscribe-message {
	height: 2.5em;
	padding: 10px 20px;
	color: #fff;
	font-size: 13px;
	float: none;
	top: 0;
	display: block!important;
}

.subscribe-message i.fa.fa-check {
	padding-top: 15px;
}


/* === CONTACT === */

.contact-box-container {
	width: 100%;
	display: table;
	margin-top: 35px;
}

.contact-section {
	width: 100%;
	height: auto;
	background-color: #f3f5f8;
	display: block;
	position: relative;
	z-index: 2000;
	color: #000;
	text-align: center;
	padding: 100px 0 100px;
	line-height: 25px;
}



.contact-section h2 {
	font-weight: 300;
	font-size: 20px;
	color: #000000;
	margin: 0px;        
	padding: 0 0 10px 0;
	text-transform: uppercase;
	font-family: "Iceberg", sans-serif;
	letter-spacing: 1px;
}


.contact-box {
	display: table-cell;
	width: 47.5%;
	text-align: justify;
	overflow: hidden;
	font-size: 13px;
}

.contact-box-spacer {
	display: table-cell;
	width: 5%;
}

.contact-box.right {
	position: relative;
	margin-bottom: 0px;
}

.contact-box.left ul {
	list-style: none;
	line-height: 25px;
	margin-top: 40px;
	padding: 0px;
	text-align: left;
	position: relative;
}

.contact-box.left ul li {
	margin-bottom: 20px;
	padding-left: 48px;
	margin-top: 0px;
	font-size: 14px;
	font-weight: 700;
}

.contact-box.left ul li i.fa {
	margin-left: -48px;
	margin-right: 25px;
	color: #16b6ea;
}

.contact-box.left ul a {
	position: absolute;
	max-width: 100%;
}

.antispam {
	display: none !important;
}

.contact-box.right input[type='text'], .contact-box.right input[type='email'] {
	height: 50px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	padding: 15px;
	word-spacing: 1px;
	width: 100%;
	outline: none;
	border-radius: 0px;
	color: #000000!important;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding-box;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s!important;  
	-moz-transition: all 0.3s!important;  
	transition: all 0.3s!important;
}

.contact-box.right input[type='text']:focus, .contact-box.right input[type='email']:focus, .contact-box.right textarea:focus {
	border: 2px solid #bbb;    
}

.contact-box.right .message-box {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	word-spacing: 1px;
	max-width: 100%;
	min-height: 120px;
	padding: 15px;
	outline: none;
	border-radius: 0px;
	color: #000000!important;
	background-color: transparent;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding-box;
	margin-bottom: 20px;
	resize: vertical;
	-webkit-transition: all 0.3s!important;  -moz-transition: all 0.3s!important;  transition: all 0.3s!important;
}


.contact-box.right input[type='submit'] {
	font-family: 'Open Sans', sans-serif;  word-spacing: 1px;
	width: auto;
	height: 50px;
	background-color: rgba(22, 182, 234, 0);
	outline: none;
	border: 2px solid #16b6ea!important;
	display: inline-block;
	font-size: 14px;
	border-radius: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 700;
	color: #737373;
	border: none;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-background-clip: padding-box;
	-webkit-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	-ms-transition: all 0.3s ease-in-out !important;
	-o-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
}

.contact-box.right input[type='submit']:hover {
    background-color: #16b6ea;    
    color: #FFFFFF;
}

.contact-box a {
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	color: #000;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.contact-box a:hover {
	color: black;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.contact-response {
	display: inline-block;
	opacity: 0;
	float: right;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.contact-form-input {
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 13px;
	border: 2px solid #ddd;    
}

.notification_ok {
	text-align: center;
	color: #000000;
	padding: 10px;
	font-weight: 700;
	margin-bottom: 10px;
}

.contact-box label.error {
	display: block;
	float: right;
	right: 8px;
	background: #f3f5f8;
	width: 25px;
	margin-top: -57px;
}

.notification_ok i.fa.fa-check {
	color: #16b6ea;
	padding-right: 5px;
}

label.error i {
	color: #16b6ea;
}


/* === FOOTER === */

.footer-section {
	width: 100%;
	height: auto;
	background-color: #242830;
	display: block;
	position: relative;
	z-index: 2000;
	color: rgba(236,240,241,0.4);
	padding: 40px 0 40px;
	line-height: 25px;
	font-weight: 300;
	font-size: 14px;
}

.footer-container {
	width: 100%;
	display: table;
}

.footer-block {
	display: table-cell;
	width: 40%;
	vertical-align: middle;
}

.footer-block:last-child {
	text-align: right;
}

.footer-block-middle a.footer-img {
	display: block;
	padding: 0px;
	line-height: normal;
}

.footer-block-middle a.footer-img img {
	max-height: 40px;
	outline: none;
	border: none;
}

.footer-block-middle {
	display: table-cell;
	width: 10%;
	text-align: center;
}

.footer-spacer {
	display: table-cell;
	width: 2.5%;
}

.footer-section a {
	color: rgba(236,240,241,0.4);
	text-decoration: none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.footer-section a:hover {
	color: rgba(236,240,241,1);
}

.footer-section i.fa {
	cursor: pointer;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;

}

.footer-section a.footer-social {
	display: inline-block;
	margin-right: 15px;
}

.footer-section a.footer-social:hover i.fa {
	color: rgba(236,240,241,1);
}

.up-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	background: rgba(22, 182, 234, 0.5);
	display: block;
	margin: 0 auto;
	color: #fff;
	font-size: 18px;
	line-height: 46px;
	text-align: center;
	position: absolute;
	top: -26px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.up-btn:hover {
	color: #fff;
	background: rgba(22, 182, 234, 1.0);
}

.up-btn i {
	color: #fff;
}

/* === RESPONSIVE CSS === */

@media all and (max-width: 1109px) {
	
	.contact-box-container {
		display: block;
		width: 100%;
	}
	
	.contact-box {
		width: 100%;
		display: block;
		margin-bottom: 10%;
	}
	
	.contact-box-spacer {
		width: 0%;
		height: 0%;
	}
	
	.footer-container {
		display: block;
		width: 100%;
	}
	
	.footer-block, .footer-block-middle {
		width: 100%;
		display: block;
		margin-bottom: 40px;
		text-align: center !important;
	}
	
	.footer-block:last-child {
		margin-bottom: 0px;
	}
	
	.footer-spacer {
		width: 0%;
		height: 0%;
	}
}

@media all and (max-width: 989px) {

	.subscribe .signup-button {
		width: 100%;
	
}

	.enteremail {
		margin-bottom: 10px;
		width: 100%;
	
}


	.contact-box.right input[type='submit'] {
		width: 100%;
	}

}


@media all and (max-width: 700px) {

	.contact-section h2 span, .about-section .about-container .about-box h2 span {
		padding-top: 20px;
		display: inline-block;
	}

	.welcome-section .title {
		top: 10%;
	}

	.welcome-section {
		padding-bottom: 460px;
	}
	
	.subscribe {
		height: 130px;
	}
	
	.subscribe .signup-button {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 10px;
	}


	.services-section .services-container {
		display: block;
	}
	
	.services-section .services-container .services-box {
		width: 100%;
		display: block;
		margin-bottom: 10%;
	}
	
	.services-section .services-container .services-box:last-child {
		margin-bottom: 0px;
	}
	
	.services-section .services-container .services-box-spacer {
		width: 0%;
	}
	
	.contact-box.left ul {
		font-size: 16px;
		max-width: 100%;
	}
	

	.contact-section {
		padding-bottom: 40px;
	}
	
}


@media (max-width: 640px) {

	.counter-block .counter{
		width:65px;
	}

	.counter-block .counter .number{
		font-size:30px;
		line-height:2;
	}

	.counter-block .counter:after{
		bottom:-5px;
		width:103%;
	}
}

@media (max-width: 480px) {

	.counter-block .counter{
		width:50px;
		height:65px;
	}

	.counter-block{
		margin: 15px 10px;
	}

	.counter-block:after {
		display: none;
	}

	.counter-block .counter .number{
		margin-left:6px;
	}
  
  .counter-block:before {
		background: transparent;
		bottom: 32px;
		content: "";
		left: 0px;
		position: absolute;
		width: 96%;
		border: 2px solid;
		border-left: none;
		border-top: none;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.subscribe-section {
	background-attachment: scroll!important;
	-webkit-background-size:cover;
	background-position:center;
}
}









