{% extends 'white_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block title %}Selección, contratación y reclutamiento de personal{% endblock %}
{% block extra_meta %}
    <meta name="description"  content="Publica y comparte ofertas laborales, realiza pruebas relacionadas al cargo y selecciona al mejor personal. Podrás buscar, filtrar y comunícarte fácilmente con los candidatos en todas las etapas del proceso." />
    <meta name="keywords" content="cazatalentos, selección de personal, reclutamiento personal, contratacion personal, selección personal, agencias, reclutamiento, reclutamiento empleados, busqueda personal, preselección personal, headhunter, agencia empleo" />
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/business_campaigns.css' %}">
{% endblock %}

{% block content %}
    <form class="content" action="{% url 'business:start' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="business_user_id" value="{{ business_user_id }}" />
    </form>
    <h1 style="text-align:center; margin:50px 0px">{% trans "Campaigns" %}</h1>
        <div style="min-height: 500px;">
        {% for campaign in campaigns %}
            <div class="campaign-div">
                <div class="row">
                    <p class="tittle">{{ campaign.title_es }}</p>
                    <div class="col-lg-12">
                        <a href="{{ campaign|get_campaign_url }}" target="_blank"><b>Ver la oferta que ven los candidatos</b></a>
                    <br>
                    <br>
                        <a href="{% url 'business:summary' campaign_id=campaign.pk %}"><b>TABLERO DE CONTROL</b></a>
                    <br>
                    <br>
                    <p><b>EMPRESA:</b> {{ campaign|get_business_user_company_with_campaign }}</p>
                    <p><b>REPRESENTANTE:</b> {{ campaign|get_business_user_name_with_campaign }}</p>
                    <p><b>ESTADO:</b> {{ campaign.state.name_es }}</p>
                    <p><b>FECHA DE CREACIÓN:</b> {{ campaign.local_date }}</p>
                    {% if campaign.salary_low_range >= 0 %}
                        <p><b>SALARIO:</b> ${{ campaign.salary_low_range }} a ${{ campaign.salary_high_range }} </p>
                    {% endif %}
                    {% if campaign.free_trial == True and campaign.state.name_es != 'Activa' and campaign.base != 0 %}
                        {% if campaign.salary_low_range >= 0 and campaign.work_area.pk not in invalid_work_areas %}
                            <form method="post" action="{{ action_url }}" accept-charset="UTF-8">
                                <!--PAYMENT GENERIC INFO-->
                                <input name="ApiKey" type="hidden" value="{{ apikey }}"/>
                                <input name="merchantId" type="hidden" value="{{ merchant_id }}"/>
                                <input name="accountId" type="hidden" value="{{ account_id }}"/>
                                <input name="currency" type="hidden" value="{{ currency }}"/>
                                <input name="test" type="hidden" value="{{ test }}"/>
                                <input name="description" type="hidden" value="{{ description }}"/>
                                <!--PAYMENT DYNAMIC INFO-->
                                <input name="buyerFullName" type="hidden" value="{{ buyer_name }}"/>
                                <input name="buyerEmail" type="hidden" value="{{ buyer_email }}"/>
                                <input name="referenceCode" type="hidden" value="{{ campaign.reference_code }}"/>
                                <input name="amount" type="hidden" value="{{ campaign.amount }}"/>
                                <input name="tax" type="hidden" value="{{ campaign.tax }}"/>
                                <input name="taxReturnBase" type="hidden" value="{{ campaign.base }}"/>
                                <input name="signature"  type="hidden" value="{{ campaign.signature }}"/>
                                <!--RESPONSE URL VISIBLE-->
                                <input name="responseUrl" type="hidden"  value="{{ response_url }}{{ campaign.pk }}" >
                                <!--CONFIRMATION URL NOT VISIBLE-->
                                <input name="confirmationUrl" type="hidden"  value="{{ confirmation_url }}" >
                                <!--EXTRA INFO-->
                                <input name="extra1" type="hidden"  value="{{ campaign.pk }}" >
                                <input type="submit" class="submit-button-strong" value="Activar Premium"/>
                                <!--BUTTON
                                <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_pequeno.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
                               <input name="buttonId" type="hidden" value="uHXTlFj9y4bMS9srB5O11WLUxNGBJ1tcne4nSsYZt/7VQHZZ7X8vCg=="/>
                                <input name="buttonType" value="SIMPLE" type="hidden"/>-->
                            </form>
                        {% else %}
                            <p>Para activar esta campaña debe comunicarse con nosotros</p>
                        {% endif %}
                    {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}

