<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>PeakU - Tablero de control</title>
        <!--Favicon-->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon-16.png' %}">
        <link rel="apple-touch-icon" sizes="32x32" href="{% static 'testing_webpage/favicon.ico/favicon-32.png' %}">
        <link rel="apple-touch-icon" sizes="64x64" href="{% static 'testing_webpage/favicon.ico/favicon-64.png' %}">
        <!--Latest compiled and minified bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Our Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/candidate_profile.css' %}">
        <!-- Latest jQuery library -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Our JS-->
        <script src="{% static 'business/js/candidate_profile.js' %}"></script>
    </head>
    <body>
    <script>
        function save_comment(param_dict)
        {
            general_dict = {candidate_id:{{ candidate.id }}, csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()}
                console.log(general_dict);
                $.ajax
                ({
                    type:'POST',
                    url:'../save_comments',
                    data: Object.assign({}, general_dict, param_dict),
                    success:function(response)
                    {
                        document.getElementById("all_comments").innerHTML=response+document.getElementById("all_comments").innerHTML
                        document.getElementById("comments").value="";
                    }
                });
            return false;
        }
    </script>
        <div class="topnav" id="myTopnav">
            <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color-negro.png' %}"></a>
            <a href="{% url 'business:logout' %}">{% trans "LOG OUT" %}</a>
            <a class="navButton" style="font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;"
                role="button" href="{% url 'business:start' %}">+  CREAR OFERTA</a>
            <a href="{% url 'business:business_campaigns' business_user_id=business_user.pk %}">Mis campañas</a>
            <a href="#about">Ayuda</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="big-div">
            <div class="row">
                <div class="col-lg-5 col-xs-12">
                    {% if candidate.user.photo_url != '#' %}
                    <div class="candidate-circle" style="background-image: url({% static candidate.user.photo_url %});"></div>
                    {% elif candidate.user.gender.sex == 2 %}
                    <div class="candidate-circle female-avatar"></div>
                    {% else %}
                    <div class="candidate-circle male-avatar"></div>
                    {% endif %}
                </div>
                <div class="col-lg-7 col-xs-12 responsive-center">
                    <p class="candidate-name"><strong>{{ candidate.user.name }}</strong></p>
                    {% if candidate.user.profession.name_es %}
                    <p class="profession">{{ candidate.user.profession.name_es }}</p>
                    {% endif %}
                    {% if candidate.user.city.name and candidate.user.city.name != "not available" %}
                    <p class="city">{{ candidate.user.city.name }}, {{ candidate.user.country.name }}</p>
                    {% endif %}
                    {% if candidate.user.work_area.name_es %}
                    <p class="work-area">{{ candidate.user.work_area.name_es }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-xs-12">
                    {% if candidate.user.phone %}
                        <a href="https://api.whatsapp.com/send?phone={{ candidate.user.change_to_international_phone_number }}" target="_blank">
                            <div type="button" class="wp-button center">
                                <div class="wp-logo"><span class="wp-text">ENVIAR WHATSAPP</span></div>
                            </div>
                        </a>
                    {% endif %}

                    {% if candidate.user.get_curriculum_url != '#' %}
                        <a class="curriculum center" href="{{ candidate.user.get_curriculum_url }}" target="_blank">
                            <p class="download"><strong><span class="arrow">&#x21E9;</span> Descargar hoja de vida</strong></p>
                        </a>
                    {% endif %}
                </div>

                <div class="col-lg-7 col-xs-12">
                    <div class="row condoms-row">
                        {% if candidate.get_last_evaluation.cognitive_score >= 0 %}
                            <div class="test-name" id="cognitive">
                                <span class="test-title">Capacidad cognitiva</span>
                                <span class="test-title-short">CC</span>
                                {% if candidate.get_last_evaluation.cognitive_score >= 0 %}
                                    <div id="{{ candidate.pk }}-recommended-cognitive-id" onclick="off_order(cognitive)" class="fill">
                                        {{ candidate.get_last_evaluation.cognitive_score|print_score }}
                                    </div>
                                {% endif %}
                                <div class="test-distinction">
                                    {% for score in candidate.get_last_evaluation.scores.all %}
                                        {% if score.test.type.name == 'cognitive' %}
                                            <p class="test-distinction-name"><strong>{{ score.test.name_es }}: </strong>{{ score.value|print_score }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if candidate.get_last_evaluation.technical_score >= 0 %}
                            <div class="test-name" id="technical">
                                <span class="test-title">Conocimiento técnico</span>
                                <span class="test-title-short">CT</span>
                                {% if candidate.get_last_evaluation.technical_score >= 0 %}
                                    <div id="{{ candidate.pk }}-recommended-technical-id" onclick="off_order(technical)" class="fill">
                                        {{ candidate.get_last_evaluation.technical_score|print_score }}
                                    </div>
                                {% endif %}
                                <div class="test-distinction">
                                    {% for score in candidate.get_last_evaluation.scores.all %}
                                        {% if score.test.type.name == 'technical' %}
                                            <p class="test-distinction-name"><strong>{{ score.test.name_es }}: </strong>{{ score.value|print_score }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if candidate.get_last_evaluation.requirements_score >= 0 %}
                            <div class="test-name" id="requirements">
                                <span class="test-title">Requisitos</span>
                                <span class="test-title-short">R</span>
                                {% if candidate.get_last_evaluation.requirements_score >= 0 %}
                                    <div id="{{ candidate.pk }}-recommended-requirement-id" onclick="off_order(requirements)" class="fill">
                                        {{ candidate.get_last_evaluation.requirements_score|print_score }}
                                    </div>
                                {% endif %}
                                <div class="test-distinction">
                                    {% for score in candidate.get_last_evaluation.scores.all %}
                                        {% if score.test.type.name == 'requirements' %}
                                            <p class="test-distinction-name"><strong>Requisitos: </strong>{{ score.value|print_score }}</p>
                                        {% endif %}
                                    {% endfor %}

                                    {% for s in candidate.get_last_requirement_surveys%}
                                        {% if s.score > 0 %}
                                            <strong class="listyes-light"><strong class="test-distinction-question">{{ s.question.internal_name }}:</strong></strong> {{ s.answer.name_es }} {{ s.numeric_answer|floatformat }}</p>
                                        {% elif s.score <= 0 %}
                                            <strong class="listno-light"><strong class="test-distinction-question">{{ s.question.internal_name }}:</strong></strong> {{ s.answer.name_es }} {{ s.numeric_answer|floatformat }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if candidate.get_last_evaluation.motivation_score >= 0 %}
                            <div class="test-name" id="motivation">
                                <span class="test-title">Motivación</span>
                                <span class="test-title-short">M</span>
                                {% if candidate.get_last_evaluation.motivation_score >= 0 %}
                                    <div id="{{ candidate.pk }}-recommended-motivation-id" onclick="off_order(motivation)" class="fill">
                                        {{ candidate.get_last_evaluation.motivation_score|print_score }}
                                    </div>
                                {% endif %}
                                <div class="test-distinction">
                                    {% for score in candidate.get_last_evaluation.scores.all %}
                                        {% if score.test.type.name == 'motivation' %}
                                            <p class="test-distinction-name"><strong>{{ score.test.name_es }}: </strong>{{ score.value|print_score }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if candidate.get_last_evaluation.cultural_fit_score >= 0 %}
                            <div class="test-name" id="cultural">
                                <span class="test-title">Fit cultural</span>
                                <span class="test-title-short">F</span>
                                {% if candidate.get_last_evaluation.cultural_fit_score >= 0 %}
                                    <div id="{{ candidate.pk }}-recommended-cultural-id" onclick="off_order(cultural)" class="fill">
                                        {{ candidate.get_last_evaluation.cultural_fit_score|print_score }}
                                    </div>
                                {% endif %}
                                <div class="test-distinction">
                                    {% for score in candidate.get_last_evaluation.scores.all %}
                                        {% if score.test.type.name == 'cultural fit' %}
                                            <p class="test-distinction-name"><strong>{{ score.test.name_es }}: </strong>{{ score.value|print_score }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row profile-row">
                <div class="col-lg-5 col-xs-12"></div>
                <div class="col-lg-7 col-xs-12">
                    {% if candidate.user.profile %}
                        <div class="col-lg-4 profile">
                            <p>{{ candidate.user.profile }}</p>
                        </div>
                    {% elif candidate.user.get_short_curriculum %}
                        <div class="col-lg-4 profile">
                            <p class="no-profile">{{ candidate.user.get_short_curriculum }}</p>
                        </div>
                    {% else %}
                        <div class="col-lg-4 profile">
                            <p class="no-profile">Sin descripción</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row another-info-section">
                <div class="col-lg-5 col-xs-12 contact-data">
                    <strong class="accordion">Ver datos de contacto 	&#x25BE;</strong>
                    <div class="panel col-xs-12">
                        <div>
                        {% if candidate.user.phone %}
                            <p>{{ candidate.user.phone }}</p>
                        {% endif %}
                        {% if candidate.user.email %}
                            <p>{{ candidate.user.email }}</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xs-12 contact-data">
                    <strong class="accordion no-style">Ver información adicional &#x25BE;</strong>
                    <div class="panel">
                        <div class="col-lg-6 col-xs-12 no-padding">
                            {% if candidate.user.salary %}
                                <p><strong>Aspiración salarial:</strong> {{ candidate.user.salary }}</p>
                            {% endif %}
                            {% if candidate.user.birthday %}
                                <p><strong>Edad:</strong> {{ candidate.user.get_user_age }} años</p>
                            {% endif %}
                            {% if candidate.user.languages %}
                                <p><strong>Idiomas:</strong> {{ candidate.user.languages }}</p>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 col-xs-12 no-padding">
                            {% if candidate.user.gender %}
                                <p><strong>Género:</strong> {{ candidate.user.gender.name_es }}</p>
                            {% endif %}
                            {% if candidate.user.dream_job %}
                                <p><strong>Empresa soñada:</strong> {{ candidate.user.dream_job }}</p>
                            {% endif %}
                            {% if candidate.user.hobbies %}
                                <p><strong>Hobbies:</strong> {{ candidate.user.hobbies }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-xs-12"></div>
                <div class="col-lg-7 col-xs-12 comments-section">
                    <p class="comments-tittle">Comentarios acerca del aspirante</p>
                    <div class="line"></div>
                        <form id="msform" autocomplete="off" method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="candidate_id" value="{{ candidate.pk }}" />
                            <textarea id="comments" name="comment" class="comments-area" placeholder="Escribe tu opinión aquí"></textarea>
                            <input type="button" id="submit" class="comment-button" value="COMENTAR" onclick="save_comment({'comment':$('#comments').val(),'date':$('#date').val()})"/>
                        </form>


                    <div class="comments-block" id="all_comments">
                        {% for c in candidate.comments.all|dictsortreversed:"created_at" %}
                            <p><strong>{{ c.created_at }}</strong></p>
                            <p>{{ c.text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <input type="hidden" name="campaign_id" value="{{ candidate.campaign_id }}"/>
        </div>
        <!----------------------------------------------FOOTER--------------------------------------------------------->
        <footer class="container-fluid">
            <div class="row footer-navigation">
                <div class="col-md-2 col-md-2"></div>
                <div class="col-md-3 col-md-3 navfooter">
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="{% url 'business:contact_form' %}">Contáctanos</a></li>
                        <li><a href="{% url 'beta_invite:index' %}">Personas</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-md-2 social">
                    <a href="https://www.linkedin.com/company-beta/16241506/" target="_blank"><img src="{% static 'business/img/linkedin.png' %}"></a>
                    <a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank">
                    <img src="{% static 'business/img/facebook.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/instagram.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/twitter.png' %}"></a>
                </div>
                <div class=" col-md-1 col-md-1"></div>
                <div class=" col-md-2 col-md-2 navfootercontact">
                    <div class="logo-white"><a href="#"><img src="{% static 'business/img/logo-white.png' %}"></a></div>
                    contacto@peaku.co<br>
                    +57 311 6109340<br>
                    Colombia
                </div>
            </div>
            <div class=" col-md-2 col-md-2 "></div>
            </div>
            <div class="row">
                <div class="col-1 col-md-1"></div>
                <div class="col-10 copyright">Copyright 2018 © PeakU. Todos los derechos reservados.</div>
                <div class="col-1"></div>
            </div>
        </footer>
        <script>
            $(document).ready(function() {
                set_circle_color({{ candidate.get_last_evaluation.cognitive_score|int_rounding }}, "{{ candidate.pk }}-recommended-cognitive-id");
                set_circle_color({{ candidate.get_last_evaluation.technical_score|int_rounding }}, "{{ candidate.pk }}-recommended-technical-id");
                set_circle_color({{ candidate.get_last_evaluation.requirements_score|int_rounding }}, "{{ candidate.pk }}-recommended-requirement-id");
                set_circle_color({{ candidate.get_last_evaluation.motivation_score|int_rounding }}, "{{ candidate.pk }}-recommended-motivation-id");
                set_circle_color({{ candidate.get_last_evaluation.cultural_fit_score|int_rounding }}, "{{ candidate.pk }}-recommended-cultural-id");

            });
        </script>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
        </script>
        <script>
             function on_order(test_type) {
                $(test_type).prependTo('.condoms-row');
                $('.condoms-row').css('width','100%');
                $(test_type).find(".test-name").css("text-align", "left");
                $(".fill").css("height", "55px");
                $(".fill").css("width", "55px");
                $(".fill").css("padding-top", "12px");
                $(test_type).find(".fill").css("height", "160px");
                $(test_type).find(".fill").css("width", "160px");
                $(test_type).find(".fill").css("padding-top", "50px");
                $(test_type).find(".fill").css("font-size", "30px");
                $(".test-title").css("display", "none");
                $(".test-title-short").css("display", "block");
                $(test_type).find(".test-title-short").css("display", "none");
                $(test_type).find(".test-distinction").css("display", "inline-block");
                $(test_type).find(".test-distinction").css("width", "60%");
                $(test_type).find(".test-distinction").css("float", "right");

            }

            function off_order(test_type) {
                var n = $(test_type).css("width");
                console.log(n);
                if(n == '80px' || n == '60px'){
                    $(".test-name").css("width","60px");
                    $(test_type).css("width","100%");
                    console.log(n);
                    $(".test-title").css("display", "block");
                    $(".test-distinction").css("display", "none");
                    $(".test-title-short").css("display", "none");
                    $(".fill").css("height", "70px");
                    $(".fill").css("width", "70px");
                    $(".fill").css("padding-top", "20px");
                    $(".fill").css("font-size", "12px");
                    on_order(test_type);
                }else{
                    $(".test-name").css("width","80px");
                    $(".test-title").css("display", "block");
                    $(".test-distinction").css("display", "none");
                    $(".test-title-short").css("display", "none");
                    $(".fill").css("height", "70px");
                    $(".fill").css("width", "70px");
                    $(".fill").css("padding-top", "20px");
                    $(".fill").css("font-size", "12px");
                }
            }
        </script>
    </body>
</html>