{% load static %}
{% load i18n %}
{% load app_filters %}
<script>
    $(document).ready(function() {
        set_circle_color({{ candidate.get_last_evaluation.cognitive_score|int_rounding }}, "{{ candidate.pk }}-recommended-cognitive-id");
        set_circle_color({{ candidate.get_last_evaluation.technical_score|int_rounding }}, "{{ candidate.pk }}-recommended-technical-id");
        set_circle_color({{ candidate.get_last_evaluation.requirements_score|int_rounding }}, "{{ candidate.pk }}-recommended-requirement-id");
        set_circle_color({{ candidate.get_last_evaluation.motivation_score|int_rounding }}, "{{ candidate.pk }}-recommended-motivation-id");
        set_circle_color({{ candidate.get_last_evaluation.cultural_fit_score|int_rounding }}, "{{ candidate.pk }}-recommended-cultural-id");
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        not_blocked("{{ business_state.name }}", "{{ campaign.free_trial }}", "{{ campaign.state.name }}");
    });
</script>

{% if campaign.free_trial == False and campaign.state.name != 'Inactive' %}
    <a href="/seleccion_de_personal/perfil_del_candidato/{{ candidate.id }}">
{% elif campaign.free_trial == True and campaign.state.name != 'Inactive'%}
    <a href="/seleccion_de_personal/perfil_del_candidato/{{ candidate.id }}/remove" onclick="return false" class="tooltip">
    <span class="tooltiptext">Esta es una prueba gratis, solo podrás ver los primeros candidatos, para tener acceso completo contáctanos, correo: contacto@peaku.co, wp: +57 3136362874</span>
{% else %}
    <a href="#" onclick="return false" class="tooltip">
        <span class="tooltiptext">Para poder ver la información adicional del candidato, la campaña debe estar activa</span>
{% endif %}
<div class="row candidate-info-div">
    <div class="email-checkbox">
        <input type="checkbox" name="{{ candidate.id }}_checkbox">
    </div>
    <div class="col-lg-1 col-xs-12 candidate-avatar-column">
        {% if candidate.user.photo_url != '#' %}
        <div class="circle candidate-circle" style="background-image: url({% static candidate.user.photo_url %});"></div>
        {% elif candidate.user.gender.sex == 2 %}
        <div class="circle candidate-circle female-avatar"></div>
        {% else %}
        <div class="circle candidate-circle male-avatar"></div>
        {% endif %}
    </div>
    <div class="col-lg-2 col-xs-12">
        <p class="name">
            <strong>{{ candidate.user.name }}</strong>
        </p>
        {% if candidate.user.profession.name_es %}
            <p class="profession">{{ candidate.user.profession.name_es }}</p>
        {% endif %}

        {% if candidate.user.city.name and candidate.user.city.name != "not available" %}
            <p class="city">{{ candidate.user.city.name }}, {{ candidate.user.country.name }}</p>
        {% endif %}

        {% if candidate.user.work_area.name_es %}
            <p class="work-area">{{ candidate.user.work_area.name_es }}</p>
        {% endif %}
    </div>
    <div class="col-lg-1 separator-div">
        <div class="separator"></div>
    </div>
    {% if candidate.user.profile %}
        <div class="col-lg-4 col-xs-12 profile">
            <p>{{ candidate.user.profile }}</p>
        </div>
    {% elif candidate.user.get_short_curriculum %}
        <div class="col-lg-4 col-xs-12 profile">
            <p class="no-profile">{{ candidate.user.get_short_curriculum }}</p>
        </div>
    {% else %}
        <div class="col-lg-4 col-xs-12 profile">
            <p class="no-profile">Sin descripción</p>
        </div>
    {% endif %}
    <div class="col-lg-4 col-xs-12 condoms-row">
        <div class="row">
            {% if candidate.get_last_evaluation.cognitive_score >= 0 %}
            <div class="test-name small">
                Capacidad cognitiva
                {% if candidate.get_last_evaluation.cognitive_score >= 0 %}
            <div id="{{ candidate.pk }}-recommended-cognitive-id" class="fill small-fill">
                {{ candidate.get_last_evaluation.cognitive_score|print_score }}
            </div>
            {% endif %}
            </div>
            {% endif %}

            {% if candidate.get_last_evaluation.technical_score >= 0 %}
            <div class="test-name small">
                Conocimiento técnico
                {% if candidate.get_last_evaluation.technical_score >= 0 %}
            <div id="{{ candidate.pk }}-recommended-technical-id" class="fill small-fill">
                {{ candidate.get_last_evaluation.technical_score|print_score }}
            </div>
            {% endif %}
            </div>
            {% endif %}

            {% if candidate.get_last_evaluation.requirements_score >= 0 %}
            <div class="test-name small">
                Requisitos
                {% if candidate.get_last_evaluation.requirements_score >= 0 %}
            <div id="{{ candidate.pk }}-recommended-requirement-id" class="fill small-fill">
                {{ candidate.get_last_evaluation.requirements_score|print_score }}
            </div>
            {% endif %}
            </div>
            {% endif %}

            {% if candidate.get_last_evaluation.motivation_score >= 0 %}
            <div class="test-name small">
                Motivación
                {% if candidate.get_last_evaluation.motivation_score >= 0 %}
            <div id="{{ candidate.pk }}-recommended-motivation-id" class="fill small-fill">
                {{ candidate.get_last_evaluation.motivation_score|print_score }}
            </div>
            {% endif %}
            </div>
            {% endif %}

            {% if candidate.get_last_evaluation.cultural_fit_score >= 0 %}
            <div class="test-name small">
                Fit cultural
                {% if candidate.get_last_evaluation.cultural_fit_score >= 0 %}
            <div id="{{ candidate.pk }}-recommended-cultural-id" class="fill small-fill">
                {{ candidate.get_last_evaluation.cultural_fit_score|print_score }}
            </div>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
</a>
<input type="hidden" name="campaign_id" value="{{ candidate.campaign_id }}"/>