<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>PeakU - Tablero de control</title>
        <!--Favicon-->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon-16.png' %}">
        <link rel="apple-touch-icon" sizes="32x32" href="{% static 'testing_webpage/favicon.ico/favicon-32.png' %}">
        <link rel="apple-touch-icon" sizes="64x64" href="{% static 'testing_webpage/favicon.ico/favicon-64.png' %}">
        <!--Latest compiled and minified bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Our Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/dashboard.css' %}">
        <!-- Latest jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Our JS-->
        <script src="{% static 'business/js/dashboard.js' %}"></script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color-negro.png' %}"></a>
            <a href="{% url 'business:logout' %}">{% trans "LOG OUT" %}</a>
            <a class="navButton" style="font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;"
                role="button" href="{% url 'business:start' %}">+  CREAR OFERTA</a>
            <a href="{% url 'business:business_campaigns' business_user_id=business_user.pk %}">Mis campañas</a>
            <a href="#about">Ayuda</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </div>
        <!--
            <div class="sidenav">
                <a href="#"><span class="arrow">&#xFE64;<br><span class="arrow-text">Mis ofertas</span></span></a>
                <a href="#"><span class="plus">&#x002B;<br><span class="plus-text">Nueva oferta</span></span></a>
                <a href="#"><span class="setup">&#x2699;<br><span class="setup-text">Configuración</span></span></a>
                <div class="blur">
                </div>
            </div>-->
        <div class="background" id="background">
            <div class="gradient1">
                <div class="row one"></div>
                <div class="row two">
                        <div class="col-lg-12 campaign bold">{{ campaign.title_es }}</div>
                </div>
                <div class="row plan-type"></div>
                <div class="row three">
                    <div class="col-lg-3 col-xs-12"></div>
                    <div class="col-lg-9 col-xs-12 gradient2">
                        <p class="date regular">FECHA DE PUBLICACIÓN: {{ campaign.created_at }}</p>
                        <br>
                        {% if campaign.state.name == 'Active' %}
                            <p class="status bold">ESTADO: activa</p>
                        {% elif campaign.state.name == 'Inactive' %}
                            <p class="status bold">ESTADO: inactiva</p>
                        {% else %}
                            <p class="status bold">ESTADO: terminada</p>
                        {% endif%}

                        {% if campaign.free_trial == True %}
                            <p class="status bold">(Prueba gratis)</p>
                        {% endif%}
                        <br>
                        {% if business_state.name == 'relevantes' %}
                            <p class="total regular">TOTAL {{ campaign_state_name }}: {{ total_relevant }}</p>
                        {% elif business_state.name == 'recomendados' %}
                            <p class="total regular">TOTAL {{ campaign_state_name }}: {{ total_recommended }}</p>
                        {% else %}
                            <p class="total regular">TOTAL {{ campaign_state_name }}: {{ total_applicants }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row big-div">
            <div class="row responsive-center">
                <div class="col-lg-2">
                    {% if business_state.name == 'relevant' %}
                    <div class="circle avatar2"></div>
                    {% elif business_state.name == 'recommended' %}
                    <div class="circle avatar1"></div>
                    {% else %}
                    <div class="circle avatar3"></div>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-xs-12">
                    <p class="status-name bold">{{ campaign_state_name|upper }}</p>
                    <div class="line2"></div>
                    <p class="status-description">{{ business_state.description }}</p>
                    <div class="email-button" role="button" onclick="">ENVIAR CORREO MASIVO</div>
                </div>
                <div class="col-lg-6 col-xs-12 general-circles">
                    <div class="row">
                            {% if campaign_evaluation.cognitive_score >= 0 %}
                            <div class="test-name">
                                Capacidad cognitiva
                                {% if campaign_evaluation.cognitive_score >= 0 %}
                            <div id="cognitive-id" class="fill five-fills">
                                {{ campaign_evaluation.cognitive_score|print_score }}
                            </div>
                            {% endif %}
                            </div>
                            {% endif %}

                            {% if campaign_evaluation.technical_score >= 0 %}
                            <div class="test-name">
                                Conocimiento técnico
                                {% if campaign_evaluation.technical_score >= 0 %}
                            <div id="technical-id" class="fill five-fills">
                                {{ campaign_evaluation.technical_score|print_score }}
                            </div>
                            {% endif %}
                            </div>
                            {% endif %}

                            {% if campaign_evaluation.requirements_score >= 0 %}
                            <div class="test-name">
                                Requisitos
                                {% if campaign_evaluation.requirements_score >= 0 %}
                            <div id="requirement-id" class="fill five-fills">
                                {{ campaign_evaluation.requirements_score|print_score }}
                            </div>
                            {% endif %}
                            </div>
                            {% endif %}

                            {% if campaign_evaluation.motivation_score >= 0 %}
                            <div class="test-name">
                                Motivación
                                {% if campaign_evaluation.motivation_score >= 0 %}
                            <div id="motivation-id" class="fill five-fills">
                                {{ campaign_evaluation.motivation_score|print_score }}
                            </div>
                            {% endif %}
                            </div>
                            {% endif %}

                            {% if campaign_evaluation.cultural_fit_score >= 0 %}
                            <div class="test-name">
                                Fit cultural
                                {% if campaign_evaluation.cultural_fit_score >= 0 %}
                            <div id="cultural-id" class="fill five-fills">
                                {{ campaign_evaluation.cultural_fit_score|print_score }}
                            </div>
                            {% endif %}
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
            {% include "business/dashboard_column.html" with candidate_list=candidates state_name=business_state.name %}
        </div>
        <!----------------------------------------------FOOTER--------------------------------------------------------->
        <footer class="container-fluid">
            <div class="row footer-navigation">
                <div class="col-md-2 col-md-2"></div>
                <div class="col-md-3 col-md-3 navfooter">
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="{% url 'business:contact_form' %}">Contáctanos</a></li>
                        <li><a href="{% url 'beta_invite:index' %}">Personas</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-md-2 social">
                    <a href="https://www.linkedin.com/company-beta/16241506/" target="_blank"><img src="{% static 'business/img/linkedin.png' %}"></a>
                    <a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank">
                    <img src="{% static 'business/img/facebook.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/instagram.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/twitter.png' %}"></a>
                </div>
                <div class=" col-md-1 col-md-1"></div>
                <div class=" col-md-2 col-md-2 navfootercontact">
                    <div class="logo-white"><a href="#"><img src="{% static 'business/img/logo-white.png' %}"></a></div>
                    contacto@peaku.co<br>
                    +57 311 6109340<br>
                    Colombia
                </div>
            </div>
            <div class=" col-md-2 col-md-2 "></div>
            </div>
            <div class="row">
                <div class="col-1 col-md-1"></div>
                <div class="col-10 copyright">Copyright 2018 © PeakU. Todos los derechos reservados.</div>
                <div class="col-1"></div>
            </div>
        </footer>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
        <script>
            $(document).scroll(function() {
                if($(window).scrollTop() >= 0.1){
                    $(".sidenav").css("margin-top","0px");
                    $(".blur").css("margin-top","0px");

                }else if($(window).scrollTop() < 0.1){
                    $(".sidenav").css("margin-top","84px");
                    $(".blur").css("margin-top","84px");
                }
            });
        </script>
        <script>
            $(document).ready(function() {
                set_circle_color({{ campaign_evaluation.cognitive_score|int_rounding }}, "cognitive-id");
                set_circle_color({{ campaign_evaluation.technical_score|int_rounding }}, "technical-id");
                set_circle_color({{ campaign_evaluation.requirements_score|int_rounding }}, "requirement-id");
                set_circle_color({{ campaign_evaluation.motivation_score|int_rounding }}, "motivation-id");
                set_circle_color({{ campaign_evaluation.cultural_fit_score|int_rounding }}, "cultural-id");
            });
        </script>
        <script>
           $(document).ready(function() {
               set_background("{{ campaign.image }}", "background")
           });
        </script>
        <script>
            $( window ).resize(function() {
                set_background("{{ campaign.image }}", "background")
            });
        </script>
    </body>
</html>