{% extends 'no_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block title %}{% trans 'Servicio de Reclutamiento | Seleccion de personal | Headhunter' %}{% endblock %}
{% block extra_meta %}
    <meta name="description"  content="Facilitamos el proceso de reclutamiento y selección de personal para Empresas. Publica y comparte vacantes en Colombia, Chile, Ecuador, Perú y Argentina." />
    <meta name="keywords" content="cazatalentos, selección de personal, reclutamiento personal, contratacion personal, selección personal, agencias, reclutamiento, reclutamiento empleados, busqueda personal, preselección personal, headhunter, agencia empleo" />
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'business/css/index.css' %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'business/js/index.js' %}"></script>
{% endblock %}
{% block content %}
<div id="contact-buttons">
    <a href="https://api.whatsapp.com/send?phone=573116109340" target="_blank"><img src="{% static 'business/img/boton-whatsapp.png' %}" width="100px" id="whatsapp-pc">
    <img src="{% static 'business/img/boton-whatsapp-tablet.png' %}" id="whatsapp-tablet"></a>
    <br>
    <a href="#"><img src="{% static 'business/img/boton-chat.png' %}" width="100px" id="chat-pc">
    <img src="{% static 'business/img/boton-chat-tablet.png' %}" id="chat-tablet"></a>
</div>
<!--call to action-->
<div id="overlay-signup">
    <div id="form-image">
        <form id="register-form" action="{% url 'business:business_signup' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <span class="exitDingbat" onclick="off_signup()">X</span>
                <br>
                <br>
                <span>{% trans 'Name' %}</span>
                <input class="form-input" name="name"
                    required="required" pattern="[A-Za-z\sáéíóúÑñÜüÁÉÍÓÚ]{1,200}">
                <br>
                <span>{% trans 'Company' %}</span>
                <input class="form-input" name="company">
                <br>
                <span>{% trans 'Mail' %}</span>
                <input class="form-input" type="email" name="username" required="required">
                <br>
                <span>{% trans 'Phone' %}</span>
                <input class="form-input" type="tel" name="phone"
                    required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">
                <br>
                <span>{% trans 'Password' %}</span>
                <input class="form-input" type="password" name="password1" required="required">
                <br>
                <span>{% trans 'Confirm Password' %}</span>
                <input class="form-input" type="password" name="password2" required="required">
                <br>
                <input type="submit" class="submit" value="{% trans 'START NOW' %}">
            </fieldset>
            <span style="color:white;margin-left:30px; s">{% trans 'Already a registered user? Log in' %}
            <a style="color:white" href="javascript:void(0);" onclick="off_signup() & on_login()">
            <strong>{% trans 'Here' %}</strong>
            </a>
            </span>
        </form>
    </div>
</div>
<div id="overlay-login">
    <div id="form-image2">
        <form id="login-form" method="post" action="{% url 'business:home' %}" >
            {% csrf_token %}
            <fieldset>
                <span class="exitDingbat" onclick="off_login()">X</span>
                <br>
                <br>
                <span>Correo</span>
                <input name="username" class="form-input"><br>
                <span>Contraseña</span>
                <input name="password" class="form-input" type="password"><br>
                <span style="font-size:10px;"><a href="#" style="color:white">{% trans 'I forgot my password' %}</a></span>
                <span style="font-size:10px">
                <a href="javascript:void(0);" style="color:white" onclick="off_login() & on_signup()">{% trans "I'm not yet registered" %}
                </a>
                </span>
                <br>
                <br>
                <input type="submit" class="submit" value="{% trans 'ACCESS' %}">
            </fieldset>
        </form>
    </div>
</div>
<div class="row blankbanner" style="margin-right: 0px;margin-left: 0px;"></div>
<div id="hide1">
    <div class="row" style="margin-right: 0px;" id="main-copy">
        <div class="col-lg-5"></div>
        <div class="col-lg-7">
            <h1 style="color: white">{% trans '	Publish your job offer and expedite' %}<br>{% trans ' the personnel selection process' %}</h1>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-7">
            <h5 style="color: white">{% trans 'You can search candidates, do technical tests and have a fluent conversation with them' %}</h5>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-7">
            <form action="{% url 'business:start' %}">
                <button class="button-cta" role="button">{% trans 'PUBLISH FOR FREE' %}</button>
            </form>
        </div>
    </div>
    <div class="row blankabout responsive-no" style="margin-right: 0px;margin-left: 0px;"></div>
    <!--Beneficios-->
    <div class="row" style="margin-right: 0px;margin-left: 0px;">
        <div class="col-lg-12 blankbeneficios">
        </div>
        <div class="col-lg-4 col-md-4 beneficios">
            <img src="{% static 'business/img/10dias.png' %}">
            <h6 class="push20">{% trans 'The best candidates in 10 business days' %}</h6>
            <br>
            {% trans 'Five candidates guaranteed for the position in 10 business days.' %}
        </div>
        <div class="col-lg-4 col-md-4 beneficios pull50">
            <img src="{% static 'business/img/publicar-gratis.png' %}">
            <h6 class="push20">{% trans 'Publish your job postings for free' %}</h6>
            <br>
            {% trans 'Access candidates and share your publication to reach more people.' %}
        </div>
        <div class="col-lg-4 col-md-4 beneficios pull100">
            <img src="{% static 'business/img/mejora-proceso.png' %}">
            <h6 class="push20">{% trans 'Optimize your selection processes with our platform' %}<br></h6>
            <br>
            {% trans 'Allow candidates to do technical tests online, we facilitate the monitoring of processes and communication.' %}
        </div>
        <div class="col-md-12 beneficioscel pull100">
            <img src="{% static 'business/img/beneficios-cel.jpg' %}">
            <h6 class="push20">{% trans 'The best candidates in 10 business days' %}<br></h6>
            {% trans 'Post free offers and optimize selection processes to find the candidate you need in record time.' %}
        </div>
    </div>
    <div class="row blankabout" style="margin-right: 0px;margin-left: 0px;"></div>
</div>
<div id="hide2">
    <!--About-->
    <div class="container-fluid" id="valuebanner">
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-4 col-md-4" id="image4video"><a href="https://www.youtube.com/watch?v=QbNDO2ShXIs" target="_blank">
                <img src="{% static 'business/img/mockup-iphone.png' %}" width="105%"></a>
            </div>
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-5 col-md-5 about">
                <h1>{% trans 'ABOUT THE PLATFORM' %}</h1>
                <br>
                {% trans 'Publish and share job offers, perform tests related to the position and select the best personnel. You can easily search, filter and communicate with candidates at all stages of the process.' %}
                <br>
                <a href="{% url 'business:start' %}" class="button-cta" role="button" id="button-cta-about">{% trans 'START HERE' %}</a>
            </div>
            <div class="col-lg-1 col-md-1">
            </div>
        </div>
    </div>
    <!--Plans-->
    <div class="container">
        <div class="blankplans"></div>
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
            <!--free-->
            <div class="col-lg-3 col-md-6 leftipad">
                <div class="freebg">
                    <div class="button-plans">{% trans 'FREE PLAN' %}</div>
                    <a href="#" class="button-buy-cel" role="button">{% trans 'START' %}</a>
                    <br>
                    <p class="price">{% trans 'Free' %}</p>
                    <div class="plancontainer">
                        <ul class="itemyes-light">
                            <li class="listyes-light">{% trans ' Unlimited access to the platform ' %}</li>
                            <li class="listyes-light"> Creación ilimitada de vacantes </li>
                            <li class="listno-light"> Publicación de vacantes en redes sociales</li>
                            <li class="listno-light"> Comunicación masiva por email y Whatsapp</li>
                            <li class="listno-light"> Pruebas técnicas y psicológicas</li>
                            <li class="listno-light"> Entrevista virtual</li>
                            <li class="listno-light"> Recomendación de 5 candidatos</li>
                            <li class="listno-light"> Proceso para candidatos especializados o gerenciales</li>
                        </ul>
                    </div>
                    <a href="{% url 'business:plan' 1 %}" class="button-buy" role="button">{% trans 'START' %}</a>
                </div>
            </div>
            <!--basic-->
            <div class="col-lg-3 col-md-6">
                <div class="basicbg pull50">
                    <div class="button-plan-top">{% trans 'BASIC PLAN' %}</div>
                    <a href="#" class="button-buy-cel" role="button">{% trans 'GET' %}</a>
                    <br>
                    <p class="price">$675 mil COP + IVA</p>
                    <div class="plancontainer">
                        <ul class="itemyes-light">
                            <li class="listyes-dark">{% trans ' Unlimited access to the platform ' %}</li>
                            <li class="listyes-dark"> Creación ilimitada de vacantes </li>
                            <li class="listyes-dark"> Publicación de vacantes en redes sociales</li>
                            <li class="listyes-dark"> Comunicación masiva por email y Whatsapp</li>
                            <li class="listyes-dark"> Pruebas técnicas y psicológicas</li>
                            <li class="listyes-dark"> Entrevista virtual</li>
                            <li class="listyes-dark"> Recomendación de 5 candidatos</li>
                            <li class="listyes-dark"> Salarios: Desde el mínimo hasta 2.5M COP</li>
                            <li class="listno-dark"> Proceso para candidatos especializados o gerenciales</li>
                        </ul>
                    </div>
                    <a href="{% url 'business:plan' 1 %}" class="button-buy" role="button">{% trans 'GET' %}</a>
                </div>
            </div>
            <!--premium-->
            <div class="col-lg-3 col-md-6">
                <div class="premiumbg">
                    <div class="button-plans">{% trans 'PREMIUM PLAN' %}</div>
                    <a href="#" class="button-buy-cel" role="button">{% trans 'GET' %}</a>
                    <br>
                    <p class="price" style="color: white">$1.2M COP + IVA</p>
                    <div class="plancontainer">
                        <ul class="itemyes-light">
                            <li class="listyes-dark">{% trans ' Unlimited access to the platform ' %}</li>
                            <li class="listyes-dark"> Creación ilimitada de vacantes </li>
                            <li class="listyes-dark"> Publicación de vacantes en redes sociales</li>
                            <li class="listyes-dark"> Comunicación masiva por email y Whatsapp</li>
                            <li class="listyes-dark"> Pruebas técnicas y psicológicas</li>
                            <li class="listyes-dark"> Entrevista virtual</li>
                            <li class="listyes-dark"> Recomendación de 5 candidatos</li>
                            <li class="listyes-dark"> Salarios: Desde 2.5M hasta 7M COP</li>
                            <li class="listno-dark"> Proceso para candidatos especializados o gerenciales</li>
                        </ul>
                    </div>
                    <a href="{% url 'business:plan' 2 %}" class="button-buy" role="button">{% trans 'GET' %}</a>
                </div>
            </div>
            <!--headhunterc-->
            <div class="col-lg-3 col-md-6">
                <div class="headhunterbg">
                    <div class="button-plans">{% trans 'HEADHUNTER PLAN' %}</div>
                    <a href="#" class="button-buy-cel" role="button">{% trans 'QUOTE' %}</a>
                    <br>
                    <span class="price"><span class="pricesmall">{% trans 'From' %}</span><br>$2.9M COP + IVA<br></span>
                    <div class="plancontainer">
                        <ul class="itemyes-light">
                            <li class="listyes-light">{% trans ' Unlimited access to the platform ' %}</li>
                            <li class="listyes-light"> Creación ilimitada de vacantes </li>
                            <li class="listyes-light"> Publicación de vacantes en redes sociales</li>
                            <li class="listyes-light"> Comunicación masiva por email y Whatsapp</li>
                            <li class="listyes-light"> Pruebas técnicas y psicológicas</li>
                            <li class="listyes-light"> Entrevista virtual</li>
                            <li class="listyes-light"> Recomendación de 5 candidatos</li>
                            <li class="listyes-light"> Salarios: Mayores a 7M COP</li>
                            <li class="listyes-light"> Proceso para candidatos especializados o gerenciales</li>
                        </ul>
                    </div>
                    <a href="{% url 'business:plan' 3 %}" class="button-buy" role="button">{% trans 'QUOTE' %}</a>
                </div>
            </div>
            <div class="blankplanspost"></div>
        </div>
    </div>
    <div class="container-fluid">
        <!--Reviews-->
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
            <div id="hide3" class="row blankreviewspic" style="margin-right: 0px;margin-left: 0px;"> </div>
            <div class="col-lg-12" style="text-align:center; z-index:-99;" >
                <h3 class="push100" id="pushtitleiphone">{% trans 'First hand, success stories' %}</h3>
            </div>
            <div class="col-lg-3 "></div>
            <div class="col-lg-2 col-md-4 reviewsingle">
                <br><br><img src="{% static 'business/img/testimonios-01.png' %}"><br>
                <p class="titlereview">Cedric Motte</p>
                <p class="subtitlereview">Certi Taxi</p>
                <div class="greendash"></div>
                <br>
                <p class="reviewcel">“Analizaron muy bien nuestras necesidades y nos propusieron las personas indicadas”</p>
            </div>
            <div class="col-lg-2 col-md-4 reviewsingle">
                <br><br><img src="{% static 'business/img/testimonios-02.png' %}"><br>
                <p class="titlereview">Adriana González</p>
                <p class="subtitlereview">Dilifast</p>
                <div class="greendash"></div>
                <br>
                <p class="reviewcel">“Sentí una gran calidad en el servicio; PeakU nos ayudo a obtener muy buenos resultados a nivel nacional”</p>
            </div>
            <div class="col-lg-2 col-md-4 reviewsingle">
                <br><br><img src="{% static 'business/img/testimonios-03.png' %}"><br>
                <p class="titlereview">Juan Delgado</p>
                <p class="subtitlereview">Smartenit Inc.</p>
                <div class="greendash"></div>
                <br>
                <p class="reviewcel">“Nos ayudaron a encontrar candidatos adecuados un 100% más rápido de lo habitual”</p>
            </div>
        </div>
        <div class="col-lg-12" style="margin-top:10px; padding-bottom:100px;" >
            <center>
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="5" fill="#dddddc"></circle>
                </svg>
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="5" fill="#dddddc"></circle>
                </svg>
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="5" fill="#dddddc"></circle>
                </svg>
            </center>
        </div>
        <!-- Companies -->
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8" id="clientes">
                <img src="{% static 'business/img/cliente-01.jpg' %}" width="24%">
                <img src="{% static 'business/img/cliente-02.jpg' %}" width="24%">
                <img src="{% static 'business/img/cliente-03.jpg' %}" width="24%">
                <img src="{% static 'business/img/cliente-04.jpg' %}" width="24%">
                <img src="{% static 'business/img/cliente-05.jpg' %}" width="24%">
                <img src="{% static 'business/img/cliente-06.jpg' %}" width="24%">
                <img src="{% static 'business/img/cliente-07.jpg' %}" width="24%">
                <img src="{% static 'business/img/cliente-08.jpg' %}" width="24%">
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</div>
{% endblock %}