{% extends 'base.html'%}
{% load static %}
{% load i18n %}
{% block title %}PeakU - Login{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="welcome-section" id="top" >
    <div style="margin-top:-100px;">
        <h1 align="center" style="color:var(--brochure-blue)">{% trans "Log in to our platform" %}</h1>
        <div class="container" style="margin-top:50px;">

                <form method="post" style="text-align:center; margin-top:0px;" action="{% url 'business:home' %}" enctype="multipart/form-data">

                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
                {% trans "Your email" as email_placeholder %}
                <input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:15px;
                    border:solid 2px var(--brochure-blue); background-color:white; width: 250px;" id="username" type="email" name="username"
                    placeholder="{{ email_placeholder }}" required="required">
                <br>
                {% trans "Enter your password" as password1_placeholder %}
                <input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:15px;
                    border:solid 2px var(--brochure-blue); background-color:white; width: 250px;" id="password" type="password" name="password"
                    placeholder="{{ password1_placeholder }}" required="required">
                <br>
                {% trans "Log In" as submit_value %}
                <input style="height: 44px; border:  2px black; background:var(--brochure-blue); color:white; text-align:center;
                    width: 81px; font-size: 16px; width: 255px; margin-bottom:20px; margin-top:15px; cursor:pointer;" type="submit" value="{{ submit_value }}">
                <br>
                <!--<a style="text-align:center" href="{% url 'password_reset' %}">¿Olvidaste la contraseña?</a>-->
                <br>
                <br>
            </form>
        </div>
    </div>
    <!-- ARROW SCROLL-->
    <div class="arrow">
    </div>
    <!-- /ARROW SCROLL -->
    <div class="container">
    </div>
</div>
<!-- any incoming error_message will print as an alert.-->
<script>
    {% if error_message %}
        alert("{{ error_message }}");
    {% endif %}
</script>
{% endblock %}