{% load i18n %}

{% if user.is_authenticated %}

    {% trans "Log Out" as logout_value %}
    <div align="right" style="margin-top:15px; margin-right:15px; cursor:pointer;">
        <form style="cursor:pointer;" action="{% url 'business:logout' %}">
            <input style="height: 34px; border: solid 0px white; background:#F8E676; color:black; text-align:center;
                   font-size: 16px; width: 110px; cursor:pointer;" type="submit" value="{{ logout_value }}">
        </form>
    </div>

{% else %}

    <div style="margin-top:15px; margin-right:15px; cursor:pointer;">

        {% trans "Log In" as login_value %}
        <form style="text-align: right; cursor:pointer;" action="{% url 'business:login' %}">
            <input style="height: 34px; border: solid 0px white; background:rgba(255, 255, 255, .0); color:#F8E676; text-align:center;
                   font-size: 16px; width: 110px; cursor:pointer;" type="submit" value="{{ login_value }}">
        </form>

    </div>
{% endif %}