<!DOCTYPE HTML>
<html lang="en">
{% load i18n %}
{% load static %}

<!-- start Mixpanel -->
<script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("d60ac5ae289f60c7f824d49a4d15be30");</script>
<!-- end Mixpanel -->

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
	  <meta name="description" content="find your true passion, encuentra tu verdadera pasion">
      <meta name="keywords" content="job, trabajo, right job, trabajo perfecto">
	  <meta name="author" content="Juan Pablo Isaza">
	  <meta name="google-site-verification" content="LPqesGS5MnESQN-E-LNjZWtRrZAY4rO__YDq8WFjpOs" />
	  <meta name="google-site-verification" content="tR13zEizNHyoMXQ0j8F1ImD0Xe3FdWFHUq-ksIKUscE" />

      <title>PeakU</title>

      <!-- ============ GOOGLE FONTS ============ -->
      <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700,900' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

      <!-- Bootstrap -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

      <!-- Font Awesome CSS -->
	  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

      <!-- Custom styles CSS -->
	  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	  <!-- This cannot be loaded async, or a undefined function appears on production only: WTF-->
	  <script type="text/javascript" src="{% static 'js/results.js' %}"></script>

      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="57x57" href="{% static 'beta_invite/favicon.ico/apple-icon-57x57.png' %}">
	  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'beta_invite/favicon.ico/apple-icon-60x60.png' %}">
	  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'beta_invite/favicon.ico/apple-icon-72x72.png' %}">
	  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'beta_invite/favicon.ico/apple-icon-76x76.png' %}">
	  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'beta_invite/favicon.ico/apple-icon-114x114.png' %}">
	  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'beta_invite/favicon.ico/apple-icon-120x120.png' %}">
	  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'beta_invite/favicon.ico/apple-icon-144x144.png' %}">
	  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'beta_invite/favicon.ico/apple-icon-152x152.png' %}">
	  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'beta_invite/favicon.ico/apple-icon-180x180.png' %}">
	  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_16.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_24.ico' %}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'beta_invite/favicon.ico/favicon_32.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_48.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_64.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_72.ico' %}">
	  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'beta_invite/favicon.ico/favicon_96.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_128.ico' %}">
	  <link rel="manifest" href="{% static 'beta_invite/favicon.ico/manifest.json' %}">
	  <meta name="msapplication-TileColor" content="#ffffff">
	  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	  <meta name="theme-color" content="#ffffff">

  </head>

 <body background="{% static 'beta_invite/bgg.jpg' %}">

 	<script>
		mixpanel.track("Result displayed");
	</script>

	{% include "business/login_buttons.html"%}

   <!-- BEGIN WELCOME -->
    <div class="welcome-section" id="top" style="">
      <div class="title" style="margin-top:-140px;">
        <a class="scroll logo" style="font-family:CANDARA; font-size:65px; color:black;
         margin-bottom:-50px;"> <img src="{% static 'beta_invite/logo.png' %}" width="370px" ></a>

		 <div class="container" style="margin-top:45px;">
		   <span data-sr="wait 0.5s, then enter top and move 40px over 1s" style="color:#134984; font-size:25px;">
				<span style=" font-weight:500; color:#F8E676;">
					{% if users %}
						<b style="font-weight:400; text-transform: uppercase;">{% trans "Download curriculums of matching profiles" %}</b>
					{% else %}
						<b style="font-weight:400; text-transform: uppercase;">{% trans "Currently no profiles match this query, to solve this issue, call us (+57 311 6109340) or send an email to contacto@peaku.co" %}</b>
					{% endif %}
				</span>
		   </span>

			<br>

			<!--Table of Profiles-->
			{% if users %}
				<table class="table table-bordered table-hover table-condensed">
					<thead>
					  <tr>
						<th>{% trans "Name" %}</th>
						<th>id</th>
						<th>Ciudad</th>
						<th>{% trans "Education" %}</th>
						<th>{% trans "Experience" %}</th>
						  <!--<th>{% trans "Search Rating" %}</th>-->
					  </tr>
					</thead>
					<tbody>
					  {% for user in users %}
						<tr style="text-align:left; cursor:pointer;" onclick="window.document.location='{{ user.get_curriculum_url }}';">
							<td>{{ user.name }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.city.name }}</td>
							<td>{{ user.education.name }}</td>
							<td>{{ user.experience }} {% trans "years" %}</td>
						</tr>
					  {% endfor %}
					</tbody>
				</table>
		    {% endif %}

		  </div>
      </div>

	</div>

	<!-- SignUp modal awful logic! -->
	<script>
	{% if user.is_authenticated %}
		var is_authenticated = true;
	{% else %}
		var is_authenticated = false;
	{% endif %}

	SetSignUpModal(is_authenticated);
	</script>

      <!-- ARROW SCROLL-->
      <div class="arrow">


      </div>
      <!-- /ARROW SCROLL -->
      <div class="container">

       </div>
    </div>
    <!-- END WELCOME -->
<script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-981758079")) {
                document.getElementById("af-form-981758079").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-981758079")) {
                document.getElementById("af-body-981758079").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-981758079")) {
                document.getElementById("af-header-981758079").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-981758079")) {
                document.getElementById("af-footer-981758079").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>
   <style>

	@media (max-width: 768px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 640px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 480px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:100px !important;}
		.countdown .hours{width:100px !important;}
		.countdown .min{width:100px !important;}
		.countdown .sec{width:100px !important;}
	}
	@media (max-width: 360px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:180px !important;}
		.countdown .hours{width:180px !important;}
		.countdown .min{width:180px !important;}
		.countdown .sec{width:180px !important;}
	}
	@media (max-width: 320px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:150px !important;}
		.countdown .hours{width:150px !important;}
		.countdown .min{width:150px !important;}
		.countdown .sec{width:150px !important;}
	}
   </style>

</body>
</html>
