{% load app_filters %}

<div class="col-sm-4">
    <input id="column_checkbox"  type="checkbox" name="column_checkbox"
           onchange="selectAll(this, {{ column_candidates|jsonify }} );">
    <h3>{{ column_name }}</h3>
    <br>

    {% for candidate in column_candidates %}
        {% include "dashboard/campaign/candidate.html" with candidate=candidate campaigns=campaigns%}
    {% endfor %}
</div>