<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <title>Interview</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Ziggeo stuff-->
    <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
    <script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
    <script>ZiggeoApi.token = "{{ziggeo_api_key}}";</script>

    <script type="text/javascript" src="{% static 'dashboard/js/campaign/interview.js' %}"></script>

</head>
<body>

    <div style="margin-left:30px;">
        <h1>Questions and Answers</h1>

        {% for question, survey in question_answer_tuples %}
            <br>
            <br>
            <ziggeoplayer ziggeo-video='{{question.video_token}}'
                ziggeo-width=320
                ziggeo-height=240>
            </ziggeoplayer>

            <br>
            <p>{{ question.text }}</p>
            <br>

            <ziggeoplayer ziggeo-video='{{survey.video_token}}'
                ziggeo-width=320
                ziggeo-height=240>
            </ziggeoplayer>

            <br>

        {% endfor %}
    </div>

</body>
</html>
