<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <title>Interview</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Ziggeo stuff-->
    <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
    <script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
    <script>ZiggeoApi.token = "{{ziggeo_api_key}}";</script>

    <script type="text/javascript" src="{% static 'dashboard/js/campaign/interview.js' %}"></script>

</head>
<body>

    <div style="margin-left:30px;">
        <h1>Current Video Questions</h1>

        <!--<form action="#" method="post" id="main_form_id">

            {% csrf_token %}-->

        {% for q in questions %}
            <br>
            <br>
            <ziggeoplayer ziggeo-video='{{q.video_token}}'
                ziggeo-width=320
                ziggeo-height=240>
            </ziggeoplayer>
            <br>

            <form action="/dashboard/campaign/interview/update_interview_question" method="post" id="update_form">
                {% csrf_token %}

                <textarea name="text" cols="40" rows="5"
                    placeholder="add a question text in English!">{{ q.text }}</textarea>
                <br>

                <textarea name="text_es" cols="40" rows="5"
                    placeholder="add a question text in Spanish!">{{ q.text_es }}</textarea>
                <br>

                <input type="button" class="btn btn-default" name="update_question" value="Update!"
                    onclick="this.form.submit()">

                <input name="campaign_id" type="hidden" value="{{ campaign.id }}">
                <input name="question_id" type="hidden" value="{{ q.id }}">
            </form>

            <br>

            <form action="/dashboard/campaign/interview/delete_interview_question" method="post" id="remove_form">
                {% csrf_token %}
                <input type="button" class="btn btn-danger" name="remove_from_interview" value="Delete!"
                    onclick="this.form.submit()">

                <input name="campaign_id" type="hidden" value="{{ campaign.id }}">
                <input name="question_id" type="hidden" value="{{ q.id }}">
            </form>

            <br>
            <hr>
        {% endfor %}

        <br>
        <br>

            <h3>Record new video question</h3>
            <ziggeorecorder ziggeo-timelimit=60
                ziggeo-width=320
                ziggeo-height=240
                ziggeo-theme='modern'
                id="myRecorder">
            </ziggeorecorder>
            <br>

        <form action="/dashboard/campaign/interview/create_interview_question" method="post" id="new_question_form">
            {% csrf_token %}

            <textarea name="new_question_text" cols="40" rows="5"
                    placeholder="add a question text in English!">{{ q.text }}</textarea>
            <br>
            <textarea name="new_question_text_es" cols="40" rows="5"
                placeholder="add a question text in Spanish!">{{ q.text_es }}</textarea>
            <br>

            <input type="button" class="btn btn-success" name="save_changes" value="Add Question!"
                onclick="this.form.submit()">

            <input name="campaign_id" type="hidden" value="{{ campaign.id }}">
        </form>
    </div>

</body>
</html>
