<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" types="text/css" href="{% static 'dashboard/css/common.css' %}">
    <title>{{ title }}</title>
</head>
<body class="indent_style">

    <h1 class="my_title">{{ title }}</h1>

    <form style="margin-top: 40px; margin-left:40px;" action="{{ action_url }}" method="post">
        {% csrf_token %}
        <br>
        <br>

            <input class="title_text_box" type="text" name="company" value="{{ company.name }}"
              placeholder="Digita el nombre de la empresa" required>

        <br>
        <br>
        <input class="title_text_box" type="text" name="title" value="{{ campaign.title }}"
          placeholder="Add campaign title in English" required>
        <br>
        <br>
        <input class="title_text_box" type="text" name="title_es" value="{{ campaign.title_es }}"
          placeholder="Add a campaign title in Spanish" required>
        <br>
        <br>
        <select name="country_id" required>

            <!--Update-->
            {% if campaign %}
                {% with default_id=campaign.country.id default_name=campaign.country.name %}
                    <option value="{{ default_id }}">{{ default_name }}</option>
                {% endwith %}
            {% else %} <!--New-->
                {% with default_id="" default_name="Select Country" %}
                    <option value="{{ default_id }}">{{ default_name }}</option>
                {% endwith %}
            {% endif %}

            {% for country in countries %}
                <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <select name="city_id" required>

            <!--Update-->
            {% if campaign %}
                <option value="{{ campaign.city.id }}">{{ campaign.city.name }}</option>
            {% else %} <!--New-->
                <option value="">Select City</option>
            {% endif %}

            {% for city in cities %}
                <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
        </select>
        <br>
        <br>

        <h3>Salary</h3>
        <span >from: </span>
        {% if campaign.salary_low_range %}
            <input  type="number" min="0" name="salary_low_range" value="{{ campaign.salary_low_range }}">
        {% else %}
            <input  type="number" min="0" name="salary_low_range" value="1000000">
        {% endif %}
        <span >to: </span>
        {% if campaign.salary_high_range %}
            <input type="number" min="0" name="salary_high_range" value="{{ campaign.salary_high_range }}">
        {% else %}
            <input type="number" min="0" name="salary_high_range" value="2000000">
        {% endif %}

        <br>
        <br>

        <textarea name="description" cols="40" rows="5"
        placeholder="add description in English">{{ campaign.description }}</textarea>
        <br>
        <br>
        <textarea name="description_es" cols="40" rows="5"
        placeholder="add description in Spanish">{{ campaign.description_es }}</textarea>
        <br>
        <br>

        <select name="work_area_id" required>

            {% if campaign and campaign.work_area %} <!--Update-->
                <option value="{{ campaign.work_area.id }}">{{ campaign.work_area.name }}</option>
            {% else %} <!--New-->
                <option value="">Select Work Area</option>
            {% endif %}

          {% for work_area in work_areas %}
             <option value="{{ work_area.id }}">{{ work_area.name }}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <div style="margin-top:-10px;">
            <label>Experience in years:</label>
            <input name="experience" id="experience"type="number" value="{{ campaign.experience }}" min="0" max="60" required>
        </div>
        <br>
        <p>CALENDLY?</p>
        <select name="calendly" required>

            <!--Update-->
            {% if campaign %}
                {% with default=campaign.calendly %}
                    <option value="{{ default }}">{{ default }}</option>
                {% endwith %}
            {% else %} <!--New-->
                <option value="1">True</option>
            {% endif %}

            <option value="1">True</option>
            <option value="0">False</option>
        </select>
        <br>
        <br>

        <p>STATE</p>
        <select name="state_id" required>

            <!--Update-->
            {% if campaign %}
                {% with default=campaign.state %}
                    <option value="{{ default.pk }}">{{ default.name }}</option>
                {% endwith %}
            {% else %} <!-- New, starts in inactive, ie id=1 -->
                <option value="1">Inactive</option>
            {% endif %}

            {% for state in campaign_states %}
                <option value="{{ state.id }}">{{ state.name }}</option>
            {% endfor %}
        </select>

        <br>
        <br>
        <p>Calendly Url</p>
        <input class="title_text_box" type="text" name="calendly_url" value="{{ campaign.calendly_url }}"
               placeholder="Add calendly_url or default to Santiago's" required>
        <br>
        <br>
        <p>FREE TRIAL?</p>
        <select name="free_trial" required>

            <!--Update-->
            {% if campaign %}
                {% with default=campaign.free_trial %}
                    <option value="{{ default }}">{{ default }}</option>
                {% endwith %}
            {% else %} <!--New-->
                <option value="1">True</option>
            {% endif %}

            <option value="1">True</option>
            <option value="0">False</option>
        </select>
        <br>
        <br>
        <p>REMOVE?</p>
        <select name="removed" required>

            <!--Update-->
            {% if campaign %}
                {% with default=campaign.removed %}
                    <option value="{{ default }}">{{ default }}</option>
                {% endwith %}
            {% else %} <!--New-->
                <option value="1">True</option>
            {% endif %}

            <option value="1">True</option>
            <option value="0">False</option>
        </select>

        <input name="campaign_id" type="hidden" value="{{ campaign.id }}">
        <br>
        <br>
        <p>HAS EMAIL IN FORM?</p>
        <select name="has_email" required>

            <!--Update-->
            {% if campaign %}
                {% with default=campaign.has_email %}
                    <option value="{{ default }}">{{ default }}</option>
                {% endwith %}
            {% else %} <!--New-->
                <option value="1">True</option>
            {% endif %}

            <option value="1">True</option>
            <option value="0">False</option>
        </select>
        <br>
        <br>
        <input class="btn btn-success" type="submit" value="Save"
            style="width:100px; height: 25px; font-size:15; margin-bottom:50px; line-height: 10px;">
    </form>
</body>
</html>
