<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load app_filters %}
{% load compress %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!------------------------------------------META------------------------------------------------------------------->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--Meta description and keywords for each template-->
    {% block extra_meta %}{% endblock %}
    <!------------------------------------------BASE CSS--------------------------------------------------------------->
    <!--Latest compiled and minified bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Favicon-->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon-16.png' %}">
    <link rel="apple-touch-icon" sizes="32x32" href="{% static 'testing_webpage/favicon.ico/favicon-32.png' %}">
    <link rel="apple-touch-icon" sizes="64x64" href="{% static 'testing_webpage/favicon.ico/favicon-64.png' %}">
    <!--Our css-->
    <link rel="stylesheet" type="text/css" href="{% static 'testing_webpage/css/base.css' %}">
    <!------------------------------------------EXTRA CSS-------------------------------------------------------------->
    {% block header_base_css %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <!------------------------------------------BASE JS---------------------------------------------------------------->
    <!-- Latest jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Latest compiled bootstrap javaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Header topnav-->
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <!--Smartlook for record the users interactions-->
    <script id="Heat-map" type="text/javascript">
        window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '495c7bd6807a0ab2c17ade2e03cac13bab9f1b84');
    </script>
    <!--Google analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110863941-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110863941-1');
    </script>
    <!--Tawk chat-->
    {% if 'seleccion_de_personal' in request.path %}
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5a5d24064b401e45400c1ca0/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
    {% endif %}
    <!--Facebook pixel code for candidates campaigns-->
    {% if 'servicio_de_empleo' in request.path %}
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '723083944567694');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" src="https://www.facebook.com/tr?id=723083944567694&ev=PageView&noscript=1"/>
        </noscript>
    {% endif %}
    <!--Our js-->
    <!------------------------------------------EXTRA JS--------------------------------------------------------------->
    {% block header_base_js %}{% endblock %}
    {% block extra_js %}{% endblock %}
<body>
    <!------------------------------------------SPECIFIC HEADER CONTENT------------------------------------------------>
    <header>{% block header %}{% endblock %}</header>
    <!------------------------------------------EACH TEMPLATE CONTENT-------------------------------------------------->
    {% block content %}{% endblock %}
    <!------------------------------------------FOOTER----------------------------------------------------------------->
    <footer class="container-fluid">
        <div class="row footer-navigation">
            <div class="col-lg-5 navfooter">
                <ul>
                    <div>
                        <li><a href="#">{% trans 'Us' %}</a></li>
                        {% if 'seleccion_de_personal' in request.path %}
                            <li><a href="{% url 'business:contact_form' %}">{% trans 'Contact Us' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'beta_invite:index' %}">{% trans 'Contact Us' %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'beta_invite:index' %}">{% trans 'Candidates' %}</a></li>
                    </div>
                </ul>
            </div>
            <div class="col-lg-2 social">
                <a href="https://www.linkedin.com/company-beta/16241506/" target="_blank"><img src="{% static 'business/img/linkedin.png' %}"></a>
                <a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank">
                <img src="{% static 'business/img/facebook.png' %}"></a>
                <a href="https://www.instagram.com/peaku_latam" target="_blank"><img src="{% static 'business/img/instagram.png' %}"></a>
                <a href="#" target="_blank"><img src="{% static 'business/img/twitter.png' %}"></a>
            </div>
            <div class="col-lg-5 navfootercontact">
                <div class="row">
                    <div class="col-lg-4 logo-white"><a href="#"><img src="{% static 'business/img/logo-white.png' %}"></a></div>
                    <div class="col-lg-8 contact-data">
                        contacto@peaku.co<br>
                        +57 311 6109340<br>
                        Colombia
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyright">{% trans 'Copyright 2018 © PeakU. All rights reserved.' %}</div>
        </div>
    </footer>
</body>
</html>
