{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% load app_filters %}
{% load compress %}
{% block header_base_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'testing_webpage/css/white_header_base.css' %}">
{% endblock %}
{% block header %}
    <div class="topnav" id="myTopnav">
        <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color-negro.png' %}"></a>
        {% if 'seleccion_de_personal' in request.path and 'contactanos' not in request.path %}
            {% if user.is_authenticated %}
                <a href="{% url 'business:logout' %}">{% trans "LOG OUT" %}</a>
                {% if not 'campañas' in request.path %}
                    <a href="{% url 'business:business_campaigns' user|get_business_user_id_from_auth_user %}">{% trans 'My campaigns' %}</a>
                {% endif %}
                <a class="navButton" style="font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;" role="button" href="{% url 'business:start' %}">{% trans '+ NEW JOB POST' %}</a>
            {% else %}
                <a href="{% url 'business:logout' %}">{% trans 'SIGN IN' %}</a>
            {% endif %}
            <!--<a href="#about">Ayuda</a>-->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        {% endif %}
    </div>
{% endblock %}


x